[2013-09-24 20:19] guarnold commented on #451
Fix available in build v1.01.0042.

[2013-09-24 20:20] guarnold commented on #381
Updated fix available in build v1.01.0042.

[2013-09-24 22:27] zadmarbella commented on #451
verified 1.01.0042 win 7 vs 2010 win 8 vs 2012

[2013-09-24 22:27] #451 closed, assigned to zadmarbella

[2013-09-24 22:42] zadmarbella commented on #381
reproducible 1.01.0042 on win 7 vs 2010

[2013-09-24 22:57] zadmarbella commented on #401
verified 1.01.0042  win 8 vs 2012 win 7 vs2010

[2013-09-24 22:57] #401 closed, assigned to zadmarbella

[2013-09-25 00:17] zadmarbella opened #457 "[1.01.0042] adding images and splash page to project sometimes builds them without those assets"
vs2010 added icon and splash images to gameplay project and thumnails do not appear
vs2012 removed and added icons and splash images to fallingblocks project and images do not appear when launching on device.

Note: the issue looks to be reproducible, unclear what causes it.

Linking #414

[2013-09-25 00:19] zadmarbella commented on #23
verified 1.01.0041 looks to add entry in bar-descriptor
seeing odd behaviour with projects see #457

[2013-09-25 00:19] #23 closed, assigned to zadmarbella

[2013-09-25 00:26] zadmarbella commented on #453
1.01.0042 looks to be more reproducible when restoring connection while in visual studio and accessing Blackberry > Settings > Get More

[2013-09-25 00:28] zadmarbella commented on #443
verified 1.01.0042 win 7 vs2010 win 8 vs2012

[2013-09-25 00:28] #443 closed, assigned to zadmarbella

[2013-09-25 00:30] zadmarbella commented on #370
verified 1.01.0042 win 7 2010, win 8 2012
reference #450

[2013-09-25 00:30] #370 closed, assigned to zadmarbella

[2013-09-25 00:50] zadmarbella commented on #413
verified 1.01.0041
win 8 2012
win 7 2010
simulator 10.2.0.1725

[2013-09-25 00:50] #413 closed, assigned to zadmarbella

[2013-09-25 01:08] zadmarbella commented on #330
verified 1.01.0042 vs2012 installer works
Note: uninstalling can sometimes ask users to restart the machine. possible cause if a process is still running in the background.

[2013-09-25 01:08] #330 closed, assigned to zadmarbella

[2013-09-25 01:11] zadmarbella commented on #282
verified 1.01.042 win 7 2010 win 8 2012

[2013-09-25 01:11] #282 closed, assigned to zadmarbella

[2013-09-25 01:12] zadmarbella commented on #365
verified 1.01.0042
win 7 2010
win 8 2012
simulator 10.2.1725
prompts user to download proper runtime

[2013-09-25 01:12] #365 closed, assigned to zadmarbella

[2013-09-25 01:24] zadmarbella commented on #366
verified 1.01.0042
win 8 2012
win 7 2010
message covers both uninstall/install

[2013-09-25 01:24] #366 closed, assigned to zadmarbella

[2013-09-25 01:27] zadmarbella commented on #302
verified 1.01.0042
win 7 2010
win 8 2012

[2013-09-25 01:27] #302 closed, assigned to zadmarbella

[2013-09-25 01:39] zadmarbella opened #458 "[1.01.0042] update manager and simulator download window is always on top of the desktop"
see #284
Try to use other applications while the update manager window and simulator download windows are open
Blackberry > Settting > Get More > Get Simulators

Current Behaviour
Other applications are obstructed by the windows

Workaround:
hide it from the desktop while it is downloading

[2013-09-25 01:39] zadmarbella commented on #284
verified 1.01.0042
win 7 2010
win 8 2012

[2013-09-25 01:39] #284 closed, assigned to zadmarbella

[2013-09-25 02:01] zadmarbella commented on #384
verified 1.01.0042
win 7 2010
win 8 2012
user is able to access debug token window with no notification

[2013-09-25 02:01] #384 closed, assigned to zadmarbella

[2013-09-25 02:03] zadmarbella commented on #380
verified 1.01.0042
win 7 2010
win 8 2012
user is able to unregister bbid tokens with no error

[2013-09-25 02:03] #380 closed, assigned to zadmarbella

[2013-09-25 02:14] zadmarbella opened #459 "[1.01.0042] incorrect bbid token password debug token prompt still mentions csk password"
see #374
We still use CSK password.
![errorcskexpectedbbidtoken](https://f.cloud.github.com/assets/1478549/1205632/32adf1a0-2588-11e3-9d63-58b1159f9ce0.png)

[2013-09-25 02:15] zadmarbella commented on #374
verified 1.01.0042
win 8 2012
win 7 2010
uses the same Error window in
#459

[2013-09-25 02:15] #374 closed, assigned to zadmarbella

[2013-09-25 02:19] zadmarbella commented on #377
verified 1.01.0042
Win 7 2010
Win 8 2012

[2013-09-25 02:19] #377 closed, assigned to zadmarbella

[2013-09-25 02:21] guarnold commented on #459
CSK password is correct too. The token filename is bbidtoken.csk. It is a CSK file.

[2013-09-25 02:35] zadmarbella commented on #360
verified 1.01.0042
win 7 2010
win 8 2012
Message includes both not connected device and mis-configured device

[2013-09-25 02:35] #360 closed, assigned to zadmarbella

[2013-09-25 02:39] zadmarbella commented on #267
tests created for update manager uninstallation of api levels

[2013-09-25 02:39] #267 closed, assigned to zadmarbella

[2013-09-25 02:42] zadmarbella commented on #270
created cases for #217 - Signing Improvements for Visual Studio

[2013-09-25 02:42] #270 closed, assigned to zadmarbella

[2013-09-25 02:44] zadmarbella commented on #390
made cases for adding bar-descriptor obsolete

[2013-09-25 02:44] #390 closed, assigned to zadmarbella

[2013-09-25 02:48] zadmarbella commented on #391
updated cases for  Update Manager  to include a check for running indicator for install and uninstall

[2013-09-25 02:48] #391 closed, assigned to zadmarbella

[2013-09-25 02:49] zadmarbella commented on #269
Added test cases to view api level list in Update Manager

[2013-09-25 02:49] #269 closed, assigned to zadmarbella

[2013-09-25 02:50] zadmarbella commented on #268
Added test case to update manager to install api levels

[2013-09-25 02:50] #268 closed, assigned to zadmarbella

[2013-09-25 02:51] zadmarbella commented on #280
added tests cases for api level install uninstall

[2013-09-25 02:51] #280 closed, assigned to zadmarbella

[2013-09-25 02:56] zadmarbella commented on #263
added tests in Auto-detect and download the device target files for runtime dowload

[2013-09-25 02:56] #263 closed, assigned to zadmarbella

[2013-09-25 03:13] zadmarbella commented on #459
closing based on comment.

[2013-09-25 03:13] #459 closed, assigned to nobody

[2013-09-25 13:09] dbrgss commented on #457
Did you add the images to the assets listing??   They need to be added there as well...  If you want the thumbnail to appear they need to be added there first.

[2013-09-25 13:12] dbrgss commented on #453
Need to know the scenario that this occurs.   If you try to access the Get More screen without an internet connection it shouldn't allow you to enter the screen... It will give you a internet connection not available error.

Dave

[2013-09-25 14:38] zadmarbella commented on #411
https://github.com/blackberry/VSPlugin/blob/next/src/VSNDK.Package/UpdateManager/Model/UpdateManagerData.cs#L348

It's still in the code and in the 1.01.0042 and it regressed.
Last time it was modified was 9 days ago for a Simulator Fix.

[2013-09-25 14:51] zadmarbella commented on #320
closing
updated api level view list test case to verify that no IDE installed outside the vsplugin like Playbook or Momentics appears in the list of available API Levels

[2013-09-25 14:51] #320 closed, assigned to zadmarbella

[2013-09-25 15:44] zadmarbella commented on #437
verified on 1.01.0042 win 32 looks to attach to process fine.

[2013-09-25 15:44] #437 closed, assigned to zadmarbella

[2013-09-25 16:40] guarnold commented on #381
The following entry in the Windows Registry is not been cleaned when user uninstalls all of the API levels:

key name - HKEY_CURRENT_USER\Software\BlackBerry\BlackBerryVSPlugin
Entry - NDKHostPath

As a consequence, the plugin thinks that there is an API level and try to connect to the device/simulator, causing the crash.

The workaround would be to uninstall the plugin too, if the user wants to u

[2013-09-25 16:48] guarnold commented on #381
As this issue only happens when the user uninstall all the API levels and them he tries to attach to a process without any new API level installed, I recommend closing this issue as I opened another one that is more specific: #460

[2013-09-25 16:53] zadmarbella commented on #438
verified 1.01.0042
win 7 2010
win 8 2012
user is able to create a new bar-descriptor from Configuration manager and it include Simulator-Release configuration in bar-descriptor code.

[2013-09-25 16:53] #438 closed, assigned to zadmarbella

[2013-09-25 16:55] zadmarbella commented on #383
verification failed 1.01.042
win 7 2010
win 8 2012
this workflow might need to be revisited. Do we want a default value for IP address for debug token generation?

[2013-09-25 16:56] guarnold opened #460 "[1.01.0042] able to crash vs if attach to process is setup after uninstalling all of the api levels"
prequisite: uninstall all of the api levels, setup device in BlackBerry Settings
This issue only happens after uninstalling all of the api levels. It does not happen if you installed a new version of the VS plugin and have no api level installed. You have to uninstall the api levels.

Debug > Attach to process
Select Blackberry Transport and Device Ip qualifier

Current Behaviour:
Error occurs VS

[2013-09-25 17:02] guarnold commented on #460
The following entry in the Windows Registry is not been cleaned when user uninstalls all of the API levels:

key name - HKEY_CURRENT_USER\Software\BlackBerry\BlackBerryVSPlugin
Entry - NDKHostPath

As a consequence, the plugin thinks that there is an API level and try to connect to the device/simulator, causing the crash.

The workaround would be to uninstall the plugin too, if the user wants to u

[2013-09-25 17:02] zadmarbella commented on #274
unclear on how to verify the issue.
Looks to happen when launching for signing the first time
the user is asked to download a certificate (looks to be twice)
before they are able to proceed to creating their bbid tokens.

[2013-09-25 17:07] guarnold commented on #460
This issue only happens when the user uninstall all the API levels and them he tries to attach to a process without any new API level installed
That is not a common behavior. No one would uninstall all the API levels and keep the plug-in.

[2013-09-25 17:31] zadmarbella commented on #373
verified 1.01.0042
win 7 2010
win 8 2012
notified of incorrect signing password is used when generating a debug token
Once the user inputs correct password they need to go to  Blackberry > Debug Tokens dialog and try to add debug tokens again.

[2013-09-25 17:37] #381 closed, assigned to guarnold

[2013-09-25 17:43] zadmarbella opened #461 "[1.01.0042] able to create blackberry configuration with no api levels installed"
If there is no api level one can still create a Blackberry Configuration.

This leads to behaviour like projects not having bar-descriptor files and possibly other unknown settings issues. It's unclear what happens to the project after one installs an api level.

[2013-09-25 17:52] zadmarbella commented on #297
created test to check for files in the folder C:\Program Files (x86)\BlackBerry\VSPlugin-NDK\qnxtools

[2013-09-25 17:52] #297 closed, assigned to zadmarbella

[2013-09-25 19:30] zadmarbella commented on #215
1.01.0042 this feature looks to be incomplete

[2013-09-26 12:04] guarnold commented on #452
It might be related to issue #460, as the workaround is to uninstall and reinstall the plugin (which updates the registry correctly).

I would recommend lowering it to P3 to keep an eye in the future, after fixing issue 460.

[2013-09-26 13:49] dbrgss commented on #461
This is not an issue.   It's true it won't create a bar-descriptor.xml without an API Level... but as soon as you create the API Level it DOES create the bar-descriptor.xml.. and works fine.   Adding API Levels does not affect the project in any way.  If there is a bug here its the fact that the bar-descriptor.xml is not being added in spite of no API Level.  That really shouldn't matter.   I woul

[2013-09-26 13:56] dbrgss commented on #457
I can't reproduce this issue on my environment.  I will need to come look at your scenario.

[2013-09-26 15:17] zadmarbella commented on #219
[1.01.0042] can't exclude .rc file but it looks like one can exclude items that are part of project source

[2013-09-26 15:36] dbrgss opened #462 "Update Manager - Simulator Install Screen"
User Story #65
- Need to have a screen to allow our users to download simulators for the various API Levels.
- Screen should display the latest and greatest simulator for each of the API Levels.
- Screen should give the ability to drill down into each API Level and install ANY of the previous versions of the simulator.
- Screen needs to have the ability to uninstall the simulators.
- Screen should

[2013-09-26 15:36] dbrgss commented on #462
Included in current version.

[2013-09-26 15:40] dbrgss commented on #289
Included in current version

[2013-09-26 15:40] #289 closed, assigned to russellandrade

[2013-09-26 17:44] zadmarbella opened #463 "[1.01.0042] user is able to go through uninstall process while simulator is on"
preq: have simulator on installed by the simulators dialog on
1 from Blackberry > Settings > Get More > Get Simulators
2 view the Installed section
3 Click uninstall on a simulator

Current Behaviour:
user is able to go through uninstall process

Note: unclear on impact of debugging on the sim afterwards

[2013-09-26 17:45] zadmarbella opened #464 "[1.01.0042] simulators dialog list can intermittently after an uninstallation"
preq: have a simulator
1 uninstall that simulator
2 Close right away once Completed
3 Open the Simulator Dialog

Note: there are instances where the Installed list doesn't update right away and closing and reopening the Simulator dialog causes the recently installed simulator to appear again briefly.

Current Behaviour:
Simulator Window can intermittently vanish

![emptysimulatorlist](https://f.cl

[2013-09-26 17:49] zadmarbella opened #465 "[1.01.0042] user sometimes gets random errors"
Over the course of using the plugin one can sometimes get various errors that appear randomly. Unable to reproduce consistently and unknown impact. Some looks to be Update Manager Related.

![unknownerror001](https://f.cloud.github.com/assets/1478549/1219944/a790a368-26d3-11e3-97f9-b1d1fba3b503.png)
![unknownerror002](https://f.cloud.github.com/assets/1478549/1219945/a8ea699c-26d3-11e3-86ac-25bc19

[2013-09-27 15:14] dbrgss commented on #461
Need to look into methods to prevent the user from NOT having at least one API level.  (New Feature)

[2013-09-27 15:17] dbrgss commented on #453
Check to see what happens when you click Get More when the machine is in the process of reconnecting.

[2013-09-27 15:34] #462 closed, assigned to dbrgss

[2013-09-30 18:41] zadmarbella commented on #457
[1.01.0043] we are seeing behaviour where previous app information persists on device. ie. Application Name.

Possible workaround could be resetting the device and trying again.

[2013-09-30 18:44] zadmarbella commented on #447
[1.01.0043] it looks to have been reproduced on a win 8 with vs2012. unable to reproduce it on other machines. The issue could be intermittent.

[2013-10-01 18:59] zadmarbella opened #468 "[1.01.0043] unable to input spaces at the end of the Description text area in the bar-descriptor editor in vs2012"
1. Go open the bar descriptor editor for a project
2. to tot he end of the line
3. attempt to add a space

Current Behaviour:
unable to input spaces

workaround:
go one character back and start typing

[2013-10-02 14:11] zadmarbella opened #469 "[1.01.0043] environment stops responding when hovering data tips vs2012"
1. launch project for debugging
2. hit a breakpoint
3. find variable(s) ie. function with pointer arguments
4. hover over them.

Current Behaviour:
environment stops responding and user has to close and restart

Note:
we are noticing errors in the gdb-ouput.logs not just around this issue.

[2013-10-02 16:03] zadmarbella opened #470 "[1.01.0043] connection issues while launching to device will continue to build and deploy"
1. have a device/simulator not setup correctly
2. attempt to debug/deploy a project

Current behaviour:
project still builds and attempts to deploy but fails in that time the user is unable to interact with Visual Studio.

[2013-10-02 16:18] zadmarbella opened #471 "[1.01.0043] unable to debug from project context menu"
1. Right click project
2. Debug > Start new instance
3. Click yes to build project out of date dialog

Current Behaviour:
user is unable to debug.
![failedtodebugfromprojectcontext](https://f.cloud.github.com/assets/1478549/1255031/3784e980-2b7e-11e3-94b9-0df675c5a79b.png)

[2013-10-02 16:21] zadmarbella commented on #419
[1.01.0043] win 8 2012 throws an error when Debug > Start without debugging

![failedtodebugfromprojectcontext](https://f.cloud.github.com/assets/1478549/1255058/9f4a779c-2b7e-11e3-9924-786a9cc622ef.png)

[2013-10-02 18:39] guarnold commented on #469
Fixed for both VS 2012 and 2010. It used to happen when the mouse pass over '{'.

[2013-10-03 15:08] zadmarbella opened #473 "[1.01.0044] API Levels download dialog should not include 10.2 Beta 1"
Intalling the beta 1 will fail and will have an error.

![beta1available](https://f.cloud.github.com/assets/1478549/1262329/72ff8e56-2c3d-11e3-8e57-bcca34739972.png)

[2013-10-03 16:41] guarnold commented on #469
Available in build version 1.01.0044.

[2013-10-03 17:07] zadmarbella commented on #465
[1.01.0044] ran into more
![unknownerror005](https://f.cloud.github.com/assets/1478549/1263406/4520ca70-2c4e-11e3-88f3-5394e6bce172.png)

[2013-10-03 17:26] guarnold opened #474 "Filter intellisense rollover for VS2012 and VS2013"
VS 2012's intellisense evaluates everything while hovering over the source code, including comments, operators, {, }, among others, generating many data evaluation commands to GDB and presenting the respective error messages in the screen.

A filter could be implemented to avoid the above behavior in one of these methods:
- AD7Expression.cs - int IDebugExpression2.EvaluateSync()
- AD7StackFrame.cs

[2013-10-03 18:46] zadmarbella opened #475 "[1.01.0044] environment stops responding when adding variables to parallel watch window"
1. debug a project
2. hit a breakpoint
3. add variable to parallel watch window
4. hit continue

Current Behaviour:
environment stops responding user has to end task and restart

[2013-10-03 20:24] zadmarbella commented on #469
verified 1.01.0044
hovering over data tips doesn't hang the environment

[2013-10-03 20:24] #469 closed, assigned to zadmarbella

[2013-10-03 20:31] zadmarbella opened #476 "[1.01.0044] project importing is able to import a project on top of another project"
prerequisite a Blackberry Core Native Project
1. File > Add > New Project...
2. add a New Visual C++ > Empty Project in a solution
3. Provide a relevant name
4. click OK
5. from project contextual menu right click
6. Import BlackBerry Core Native Project
7. Browse for .project or .cproject and click Ok
8. Review Conversion log for errors
9. Click Ok
10. Do this again with another project (or the s

[2013-10-04 12:03] #84 closed, assigned to dbrgss

[2013-10-04 13:33] guarnold commented on #475
Fix available in build v1.01.0045

[2013-10-04 15:23] guarnold commented on #411
Fixed in latest update

[2013-10-04 18:33] zadmarbella commented on #475
verified [1.01.0045]
able to add variable in parallel watch doesn't look to hang vs2012 on win 8

[2013-10-04 18:33] #475 closed, assigned to zadmarbella

[2013-10-07 16:55] zadmarbella opened #478 "[1.01.0045] unable to open project properties if plugin is not installed"
win7 vs2010

using fallingblocks project and have no plugin installed
1. attempt to access project properties

Current behaviour:
user is unable to access project properties

possibly linked with:
#400

[2013-10-07 16:58] zadmarbella opened #479 "[1.01.0045] user is unable to edit project properties linker output file"
win 8 vs2012

Preq: vs plugin project   
1. from the project context menu access project Properties
2. Access General Output File from Configuration Properties > Linker > General
3. Modify output file
ie. $(OutDir)$(ProjectName)_$(Platform)_$(Configuration)$(targetExt) < using macros or user input
4. Attempt to build project

Current Behaviour:
if the linker output file is changed from $(LocalDebu

[2013-10-08 13:50] zadmarbella opened #480 "[1.01.0045] unable to view thumbnails for icons and splash images on vs2012"
Note: in 2010 it looks to images automatically in the Project Resources folder and it adds an entry to the Assets Configuration in the bar descriptor.
1. Add icon or splash image to project

Current behaviour:
no thumbnail appears. user has to manually add new resource in project.

Marking as P2 due to behaviour differs from vs2010 and vs2012

[2013-10-08 14:57] zadmarbella opened #481 "[1.01.0045] able to crash environment when alt+tabbing form the Debugger to launch with no item selected in vs2012"
1. from project properties
2. Configuration Properties > Debugging
3. From the Debugger to launch keep on the empty selection
4. alt+tab

Current Behaviour:
the environment crashes

![debuggerlaunchnoitemselection](https://f.cloud.github.com/assets/1478549/1289993/f468d688-3029-11e3-8bfb-00917d34c223.png)

[2013-10-08 15:20] zadmarbella opened #482 "[1.01.0045] unable to restore an empty debugging option in project properties"
1. from Project Properties Configuration Properties > Debugging
2. Select an option
3. Click Apply
4. Try to select an empty option.

Current Behaviour:
There is no way to go back to an empty entry

Note: it is unclear what plugin supports in terms of debugger to launch
unclear what Configuration Debugging Properties impact on project.
A GDB option might be required with command options.

[2013-10-08 16:04] zadmarbella opened #483 "[1.01.0045] remove solution configuration for Simulator and Simulator-Release"
Projects should only launch on these Configuration Solutions
Debug - BlackBerry / BlackBerrySimulator
Release -  Blackberry / BlackberrySimulator

Options that are not needed/supported and will produced unexpected behaviour:
Simulator
Simulator-Debug

[2013-10-08 18:39] PamC commented on #124
Release note:
Registering keys that have already been registered causes incorrect notifications to the user.
Workaround: Use keys that have not been registered yet.

[2013-10-08 18:44] PamC commented on #125
Release note:
Able to build a project while in a debug session.
Workaround: Stop the debug session, build the project, and start a new debug session.

[2013-10-08 18:44] PamC commented on #126
Release note:
On Windows 8, unable to run a macro when a breakpoint is hit.

[2013-10-08 18:44] allee opened #484 "b101 - unable to debug on playbook 1 and 2 R036"
Milestone: Sprint #36 - Marc...
evillaricomarbella is assigned

Playbook 2.1.0.1526 - BBNDK 2.1.0.1032
it's on both playbooks

[code]

Current Behaviour:
It fails to hit the breakpoint

2 participants
guarnold commented 7 months ago

The problem is that the GDB version of PlayBook 1 does not accept the full path when setting breakpoints, as you can see below:

15:56:14 - 6-break-insert --thread-gr

[2013-10-08 18:45] allee commented on #484
Moved this over for RN/KIL purposes now closing.

[2013-10-08 18:45] #484 closed, assigned to nobody

[2013-10-08 18:45] PamC commented on #127
Release note:
Cancelling the Break Function window causes an error message.
Workaround: Put back the missing breakpoint.

[2013-10-08 18:46] PamC commented on #129
Release note:
Changes made to the bar-descriptor.xml file are not reflected on the device.
Workaround: Manually remove the application from the device and deploy the application again.

[2013-10-08 18:47] PamC commented on #130
Release note:
Opening a bar-descriptor.xml file using File > Open (or CRTL-O) while the project tree is not open in the solution causes errors.

[2013-10-08 18:48] PamC commented on #132
Release note:
Setting MSBuild project build output verbosity to Minimal/Quiet requires you to build twice.
Workaround: Set the build output to Normal/Detailed.

[2013-10-08 18:53] PamC commented on #134
Release note:
The bar-descriptor.xml file editor strips out all comments when you open the bar-descriptor.xml file
Workaround: Save the file.

[2013-10-08 18:55] PamC commented on #136
Release note:
If you are debugging and your device screen locks, debugging stops until you unlock your screen.
Workaround: Set the device screen lock time to a longer time.

[2013-10-08 18:55] PamC commented on #141
Release note:
Debugging a multi-threaded application on a PlayBook can hang debugging.
Workaround: Stop the debugging, remove the breakpoints in the thread, and begin debugging again.

[2013-10-08 18:56] PamC commented on #24
Release note:
Unable to edit value in locals and watch window while debugging.
Workaround: Use immediate window for this task.

[2013-10-08 18:57] PamC commented on #167
Release note:
Once you start a deploy, you must wait until the deploy completes.

[2013-10-08 18:57] PamC commented on #170
Release note:
If you deploy an application in non-development/signed (Release) mode and then redeploy it in development/unsigned (Debug) mode, the subsequent deployment fails, as blackberry-deploy attempts to overwrite a signed application, which is read only.
Workaround: Manually delete the signed application from the device and then redeploy it.

[2013-10-08 19:00] PamC commented on #172
Release note:
If you continue execution after hitting breakpoints, debugging works as expected and stops at each subsequent breakpoint. If you continue execution after stepping through breakpoints, some subsequent breakpoints will be skipped. (JIRA 382910)

[2013-10-08 19:01] PamC commented on #484
Release note:
Debug breakpoints aren't hit on the BlackBerry PlayBook.
Workaround: Since short path names are used by GDB (e.g., /src/PARTIC~1.CPP), ensure source files are named differently to avoid conflicts.

[2013-10-08 19:04] allee opened #485 "Have the Deploy checkbox checked by default (polish)"
This item was never carried forward:

on start up of the first clean install the deploy checkbox is not checked, the default should be that it is checked.

2 participants
dburgess commented a year ago

We dont have much control of this setting. For most of us the setting appears checked by default. We don't know if it's a setting Visual Studio learns to set by default after you click the first tim

[2013-10-08 19:06] PamC commented on #485
Release note:
When you attempt to deploy your application the output "Deploy: 0 succeeded, 0 failed, 1 skipped" might appear. Ensure that the Deploy check box is selected in the Configuration Manager.

[2013-10-08 19:10] allee opened #486 "Warning about Linker's OutputFile property value (.exe missing from name of executable)"
Moved over from old repo:

When building the Square project on next-debugging, I get this warning. The bar file gets created and deployed fine so that is more of a nuisance right now.

1>------ Build started: Project: Square, Configuration: Debug BlackBerry ------
1>C:\Program Files\MSBuild\Microsoft.Cpp\v4.0\Microsoft.CppBuild.targets(990,5): warning MSB8012: TargetPath(F:\dev\vsplugin\vsplugin-n

[2013-10-08 19:12] PamC commented on #486
Release note:
A warning relating to the Linker's OutputFile property value appears on Build. This warning does not affect the build or deployment process.

[2013-10-08 19:28] guarnold commented on #486
It might be related to #260.

[2013-10-09 16:44] guarnold commented on #471
This issue also happens in VS2010. However, the behavior is different:

VS opens a window stating that "this project is out of date", asking him to build it.
If he choose "yes" or "no", VS builds and deploys the app, but does not attach it to the debugger, i.e., the app is launched but it does not start the debugging session.

[2013-10-09 17:09] guarnold commented on #483
The only available solution configurations for new projects are Debug and Release.

Probably you are using an old project that still contains those other ones. To remove then, you have to manually edit the project solution file (for example, FallingBlocks_001.sln), and remove the lines that contains the ones you don't need, like these ones:

[code]

[2013-10-10 13:18] zadmarbella opened #487 "[1.01.0045] trying to access debug token window doesn't have a progress indicator when a background process is happening"
This is more apparent with incorrect information is inputted in the Settings Window
1. input incorrect device information in the Blackberry > Settings
2. Access the Debug token Window Blackberry > Debug

Current behaviour:
the environment becomes unresponsive as a connection is attempted

Expected behaviour:
some sort of process indicator.

Workaround:
right now is to just wait until it is complet

[2013-10-11 15:15] allee opened #489 "Force user to have at least 1 API level installed"
Currently a user isn't required to install an API level causing many errors:

Alisha to link all defects.

[2013-10-11 15:19] allee opened #490 "Allow user to have multiple debug tokens in their IDE"
This will allow a user to work on more than one project at a time and collaboratively.

[2013-10-11 15:20] allee commented on #164
Alisha to follow up with Legal for a new BB EULA

[2013-10-11 15:23] allee commented on #163
Please verify that the scripts are working for VS2010 and VS2012

[2013-10-11 15:23] allee opened #491 "Update installer to call the build scripts"
This will allow the build scripts to stay up to date.

[2013-10-15 15:03] dbrgss commented on #132
Please verify...

[2013-10-15 15:41] guarnold commented on #346
Related to user story #24

[2013-10-15 16:22] zadmarbella commented on #132
1.01.0046 -
Win 8 64 - VS2012
Quiet verbosity looks to fail to launch project completely and does not debug
Minimal verbosity looks to work

[2013-10-15 18:04] guarnold commented on #124
This issue is not reproducible anymore, after updating the signing methodology.

Before, we were using the plugin to browse files to register. Now we cannot do that. A webpage opens and downloads automatically the file that is needed in the registration process.

[2013-10-15 18:04] #124 closed, assigned to nobody

[2013-10-16 21:43] guarnold opened #493 "Debugging fails to start in Playbook when the app is already installed"
This issue happens only in Playbook, using API Level 2.1.

Workaround: delete the app.

1>  App Installed
1>Done executing task "Message".
1>Task "Message" skipped, due to false condition; ($(IsAppInstalled) == 'false') was evaluated as (True == 'false').
1>Using "BBNativePackager" task from assembly "C:\Program Files\MSBuild\Microsoft.Cpp\v4.0\Platforms\BlackBerry\VSNDK.Tasks.dll".
1>Task "BBNati

[2013-10-16 21:44] guarnold opened #494 "Debugging fails to start in Playbook when the app is already installed"
This issue happens only in Playbook, using API Level 2.1.

Workaround: delete the app.

1>  App Installed
1>Done executing task "Message".
1>Task "Message" skipped, due to false condition; ($(IsAppInstalled) == 'false') was evaluated as (True == 'false').
1>Using "BBNativePackager" task from assembly "C:\Program Files\MSBuild\Microsoft.Cpp\v4.0\Platforms\BlackBerry\VSNDK.Tasks.dll".
1>Task "BBNati

[2013-10-16 21:45] guarnold commented on #494
Duplicate of #493

[2013-10-16 21:45] #494 closed, assigned to nobody

[2013-10-18 14:04] guarnold commented on #479
Fix available in build v1.2.0001

[2013-10-18 14:30] guarnold commented on #493
There are two parameters from blackberry-nativepackager command that were changed in the current playbook's API level:
. -packageManifest
. -targetFileMap (-list)

The first one (-packageManifest) was updated and it is currently called "-package". When using this new argument, the results are the same as when using the old one, which means that it is easy to fix and with a low impact.

However, th

[2013-10-18 14:31] zadmarbella commented on #473
[1.2.0001] win7 and win8 still reproducible

[2013-10-18 14:33] zadmarbella commented on #483
[1.2.0001] closing not an issue

[2013-10-18 14:33] #483 closed, assigned to zadmarbella

[2013-10-18 15:11] allee commented on #481
Verified as fixed by Zad

[2013-10-18 15:11] #481 closed, assigned to zadmarbella

[2013-10-18 15:18] allee commented on #332
Ensure that the update script works on different machines.

[2013-10-18 15:21] allee commented on #78
est 2days

[2013-10-21 18:35] zadmarbella opened #495 "[2.0.001] uninstalling and re-installing the plug-in can get the get the plug-in into a state where it can stop deploying"
preq: uninstalled the plugin and kept all the api level, runtime and simulator from the previous installation.
Note: this issue looks to be intermittent
1. uninstall and reinstall the plugin
2. attempt to deploy

Current behaviour:
project does build but does but doesn't deploy with no error message

workaround:
uninstall the plugin and install it again.

[2013-10-21 18:43] guarnold opened #496 "Clean code related to public Key Path"
The publicKeyPath is not used anymore but the related code is still in the source code. It is not causing any issues but it might be better to clean it.

Here is an example:
string publicKeyPath = Environment.GetEnvironmentVariable("AppData") + @"\BlackBerry\bbt_id_rsa.pub";

[2013-10-21 19:07] guarnold commented on #496
This key is generated automatically by the plugin if it does not exist. It seems to be needed by BlackBerry.Connect method.

[2013-10-21 19:07] #496 closed, assigned to nobody

[2013-10-22 17:16] dbrgss opened #497 "Unsupported Features"
The following features of Visual Studio are currently unsupported in the Plugin

Modifying Local Variables from the Locals Debug Window.
Breakpoint Filters

[2013-10-22 17:50] russellandrade commented on #453
Lets document

[2013-10-22 17:58] PamC commented on #453
I have it in my release notes spreadsheet now.
Do we want this in the documentation as well? If so, suggest that a comment go on this page along with the sentence that starts ‘Before you can start….”

Suggest:
Before you can start developing for BlackBerry 10 OS, there are a few things that you need to do. You must have a stable internet connection or some functions may not work as expected or may

[2013-10-22 18:47] zadmarbella opened #498 "[2.0.0001] Adding some build flags can yield cryptic errors"
Add -mfpu=neon in a simulator build project properties

[2013-10-24 14:56] zadmarbella opened #499 "[2.0.0001] projects with spaces in their path will fail to debug"
folder path like C:/BB10 Native SDK/ will fail to debug
workaround remove spaces

[2013-10-25 15:19] allee commented on #86
Do an investigation and use the rest of the weeks time to complete. Break up and add estimates as required.

[2013-10-25 15:20] allee commented on #82
1 day.

[2013-10-25 15:29] zadmarbella commented on #479
verified on 2.0.0001

[2013-10-25 15:29] #479 closed, assigned to zadmarbella

[2013-10-25 16:20] zadmarbella opened #500 "[2.0.0001] unable to get bbid token if Research In Motion folder doesn't exist"
This folder is required.
C:\Users<userName>\AppData\Local\Research In Motion

This usually installs when installing BBLink but it is not created by the plugin.

[2013-10-28 14:45] zadmarbella opened #501 "[2.0.0001] debugging on older OS runtime always prompts download if newer OS runtime is installed"
preq: have 2 devices one with a 10.2.1791 and one 10.2.1725
1. launch to debug on 10.2.1791, downloads the runtime and launches successfully.
2. do the same for the 10.2.1725 device.

Current behaviour
On vs2010 is that it attempts to download and errors out and the user gets spammed with Java errors and proceeds to launch.
In VS2012 it doesn’t have the java errors

No runtime folder exists bbndk_

[2013-11-01 16:55] #71 closed, assigned to dbrgss

[2013-11-01 16:55] #87 closed, assigned to dbrgss

[2013-11-01 16:55] #332 closed, assigned to dbrgss

[2013-11-01 17:09] guarnold opened #502 "Visual Studio 2013 / 2010 Compatibility Issues"

[2013-11-01 17:09] guarnold commented on #502
Completed

[2013-11-01 17:09] #502 closed, assigned to dbrgss

[2013-11-01 17:12] guarnold commented on #86
Moved To Sprint #68

[2013-11-01 17:17] guarnold opened #503 "Visual Studio 2013 Support"
As a user we need to be able to use the plugin in the Visual Studio 2013 IDE.

[2013-11-01 17:18] guarnold opened #504 "Visual Studio 2013 - SCM Setup"
User Story #503

[2013-11-01 17:20] guarnold opened #505 "Visual Studio 2013 - Convert and Build Visual Studio Plugin using VS 2013"
User Story #503

2 day

[2013-11-05 15:10] dbrgss commented on #501
Estimate: 0.5 Days

[2013-11-05 15:12] dbrgss commented on #495
Estimate: 1 Day

[2013-11-05 15:14] dbrgss commented on #493
I would recommend either lowering this to one to a P3...
- The issue lies with the NDK which I don't believe they are planning on updating.
- There is a work around.
- Not sure about usage stats from Playbook.

[2013-11-05 15:37] dbrgss commented on #482
This was fixed earlier with the addition of the BlackBerry NDK Debugger default.

[2013-11-05 15:39] dbrgss commented on #478
Need to force a default API Level.

Estimate: 3 Days

[2013-11-05 15:45] dbrgss commented on #499
Not sure if this is fixable as the debugging session is failing in GDB and not in Visual Studio.

[2013-11-05 15:49] dbrgss commented on #498
Estimate: 1 Day

[2013-11-05 15:56] dbrgss opened #506 "Default API Level"
As a user we always need to have at least one API Level installed to use as a default.

[2013-11-05 15:58] dbrgss opened #507 "Install a default API Level during regular Plugin Installtion"
User Story: #506

Estimate: 2 Days

[2013-11-05 15:59] dbrgss commented on #461
User Story #506
Task #507

[2013-11-05 16:01] dbrgss commented on #433
Estimate 1 Day

[2013-11-05 16:07] dbrgss opened #508 "Update Manager - Updates"
As a user we need some additional functionality for the Update Manager.

[2013-11-05 16:11] dbrgss commented on #285
This behavior happens for various reasons.   I think it might be good to close this issue (as it's not reproducible) and open up a new issue of it happening.. that we can work on.

[2013-11-05 16:15] dbrgss commented on #254
I would recommend closure of this issue.. as it has an unimplemented task associated with it.   A new testing task can be created when the task is finished.

[2013-11-05 16:17] #239 closed, assigned to nobody

[2013-11-05 16:18] #171 closed, assigned to nobody

[2013-11-05 16:22] dbrgss opened #509 "Build Process Improvements"
As a user there are some improvements to the build process that would improve stability and build times.

[2013-11-05 16:24] dbrgss opened #510 "Perform deployment and debug attachment in the MSBUIld Tasks DLL"
User Story #509

Estimate: 5 Days

[2013-11-05 16:25] dbrgss commented on #167
Would be fixed with:

User Story: #509
Task: #510

[2013-11-05 16:25] dbrgss commented on #154
Estimate: 0.5 Days

[2013-11-05 16:28] dbrgss commented on #147
Estimate: 0.5 Days

[2013-11-05 17:44] dbrgss commented on #145
Estimate: 1 Day

[2013-11-05 17:46] dbrgss commented on #142
Estimate: 0.5 Days

[2013-11-05 17:51] dbrgss commented on #140
Would be fixed by:
User Story #229
Task #490

[2013-11-05 17:53] dbrgss commented on #139
Estimate: 0.5 Days

[2013-11-05 17:54] dbrgss commented on #138
Estimate: 0.5 Days

[2013-11-05 17:57] dbrgss commented on #135
Fixed:

[2013-11-05 17:59] dbrgss commented on #134
Estimate: 0.5 days

[2013-11-05 18:00] dbrgss commented on #133
Will be fixed:
User Story #229
Task #490

[2013-11-05 18:01] dbrgss commented on #131
Estimate: 0.5 Days

[2013-11-05 18:05] dbrgss commented on #129
Estimate: 2 Days.

[2013-11-05 18:06] dbrgss commented on #127
Estimate: 1 Day

[2013-11-05 18:07] dbrgss commented on #126
Estimate: 1 Day

[2013-11-05 18:08] dbrgss commented on #122
Estimate: 1 Days

[2013-11-05 18:09] dbrgss commented on #118
Estimate: 2 Days

[2013-11-05 18:11] dbrgss commented on #110
Estimate: 0.5 days

[2013-11-05 18:16] dbrgss commented on #101
This screen is no longer available in current version.

Recommend closure.

[2013-11-05 18:17] dbrgss commented on #487
Estimate: 0.5 days

[2013-11-05 18:18] dbrgss commented on #476
Estimate: 0.5 days

[2013-11-05 18:18] dbrgss commented on #465
Estimate: 0.5 days

[2013-11-05 18:19] dbrgss commented on #464
Estimate: 0.5 days

[2013-11-05 18:19] dbrgss commented on #463
Estimate: 0.5 days

[2013-11-05 18:20] dbrgss commented on #455
Estimate: 0.5 days

[2013-11-05 18:20] dbrgss commented on #452
Estimate: 0.5 days

[2013-11-05 18:21] dbrgss commented on #450
Estimate: 2 days

[2013-11-05 18:23] dbrgss commented on #432
Estimate: 0.5 days

[2013-11-05 18:23] dbrgss commented on #431
Estimate: 0.5 days

[2013-11-05 18:24] dbrgss commented on #430
Estimate: 0.5 days

[2013-11-05 18:24] dbrgss commented on #427
Estimate: 0.5 days

[2013-11-05 18:24] dbrgss commented on #426
Estimate: 0.5 days

[2013-11-05 18:25] dbrgss commented on #425
Estimate: 0.5 days

[2013-11-05 18:25] dbrgss commented on #424
Estimate: 0.5 days

[2013-11-05 18:25] dbrgss commented on #419
Estimate: 0.5 days

[2013-11-05 18:26] dbrgss commented on #416
Estimate: 1 days

[2013-11-05 18:26] dbrgss commented on #412
Estimate: 0.5 days

[2013-11-05 18:27] dbrgss commented on #132
Estimate: 0.5 days

[2013-11-05 18:36] allee opened #511 ""When Hit" feature to be implemented for VS 2012/13"
reference #441

[2013-11-05 18:37] allee commented on #441
Closing as there is now a task for this see #511

[2013-11-05 18:37] #441 closed, assigned to nobody

[2013-11-05 18:37] allee commented on #403
est .5 days

[2013-11-05 18:38] allee commented on #399
est .5 days

[2013-11-05 18:39] allee commented on #372
est .5 days

[2013-11-05 18:39] allee commented on #371
est .5days

[2013-11-05 18:41] allee opened #512 "Implement the "Find" Feature in VS 2012/13"
See issue #435

Estimate: 3days

[2013-11-05 18:41] allee commented on #435
new task created see issue #512

[2013-11-05 18:41] #435 closed, assigned to nobody

[2013-11-05 18:43] allee commented on #383
est 1day.

[2013-11-05 18:43] allee commented on #361
est .5 days

[2013-11-05 18:44] allee commented on #347
est .5 days

[2013-11-05 18:44] allee commented on #331
est .5 days

[2013-11-05 18:44] allee commented on #328
est .5 days

[2013-11-05 18:46] allee commented on #319
est .5 days to convert to text file.

Alisha is getting a new EULA

[2013-11-05 18:48] allee commented on #314
est .5 days.

[2013-11-05 18:49] allee commented on #310
est. 1 day

[2013-11-05 18:51] allee commented on #309
est. .5 day

[2013-11-05 18:52] allee commented on #305
est. .5 day but requires work from the Tooling team Do not start until team is engaged and complete

[2013-11-05 18:53] allee commented on #308
Closing as there is a task for this.

[2013-11-05 18:53] #308 closed, assigned to nobody

[2013-11-05 18:54] allee commented on #307
Closing as there is a task that will deal with this see #489

[2013-11-05 18:54] #307 closed, assigned to nobody

[2013-11-05 18:55] allee commented on #489
est. 4 days.

[2013-11-05 18:58] allee commented on #301
issue #305 should cover this.

[2013-11-05 18:58] #301 closed, assigned to nobody

[2013-11-05 18:59] allee commented on #272
est. 2 days.

[2013-11-05 19:00] allee commented on #250
est. 1 day/

[2013-11-05 19:03] allee commented on #491
Complete #389 at the same time.

est. for both is 1day.

[2013-11-05 19:03] allee commented on #389
See #491 first.

[2013-11-05 19:04] allee commented on #337
Not supporting 2010 anymore. this is no  longer valid closing.

[2013-11-05 19:04] #337 closed, assigned to nobody

[2013-11-05 19:05] allee commented on #317
Russell please let us know if we need to support Playbook anymore with VS 2012 and 2013?

[2013-11-05 19:06] allee commented on #274
Dave to clarify

[2013-11-05 19:08] allee commented on #223
This property no longer exists no longer applicable.

[2013-11-05 19:08] #223 closed, assigned to nobody

[2013-11-05 19:08] allee commented on #208
est 1day.

[2013-11-05 19:09] allee commented on #207
est. 1 day

[2013-11-05 19:10] allee commented on #163
need to be verified for 2012 and 2013

est. .5 days

[2013-11-05 19:11] allee commented on #100
done

[2013-11-05 19:11] #100 closed, assigned to nobody

[2013-11-05 19:14] allee commented on #253
Zad can you reverify this

[2013-11-05 19:22] allee commented on #69
This also covers:

#73
#74
#75
#76
#77

Make sure to close these out as they are completed.

[2013-11-05 19:28] allee commented on #411
.5 days

[2013-11-05 19:32] allee commented on #507
See #489. Closing this one as a duplicate.

[2013-11-05 19:32] #507 closed, assigned to nobody

[2013-11-06 14:29] dbrgss commented on #504
Have contacted SCM and requested that they install VS2013 onto our machines.

[2013-11-06 18:22] russellandrade commented on #317
not required for playbook

[2013-11-06 18:22] #317 closed, assigned to russellandrade

[2013-11-06 18:22] #298 closed, assigned to russellandrade

[2013-11-06 18:26] #255 closed, assigned to russellandrade

[2013-11-06 18:26] #229 closed, assigned to russellandrade

[2013-11-06 18:53] #228 closed, assigned to russellandrade

[2013-11-06 18:55] #119 closed, assigned to russellandrade

[2013-11-06 19:24] #217 closed, assigned to russellandrade

[2013-11-06 19:24] #65 closed, assigned to russellandrade

[2013-11-06 19:24] #143 closed, assigned to russellandrade

[2013-11-06 19:24] #120 closed, assigned to russellandrade

[2013-11-06 19:24] #31 closed, assigned to russellandrade

[2013-11-06 19:25] #28 closed, assigned to russellandrade

[2013-11-06 19:25] #37 closed, assigned to russellandrade

[2013-11-06 19:25] #35 closed, assigned to russellandrade

[2013-11-06 19:25] #26 closed, assigned to russellandrade

[2013-11-06 19:25] #29 closed, assigned to russellandrade

[2013-11-06 19:28] #32 closed, assigned to russellandrade

[2013-11-06 19:28] #148 closed, assigned to russellandrade

[2013-11-06 19:28] #33 closed, assigned to russellandrade

[2013-11-06 19:29] #25 closed, assigned to russellandrade

[2013-11-06 19:29] #36 closed, assigned to russellandrade

[2013-11-06 19:29] #221 closed, assigned to russellandrade

[2013-11-06 19:29] #19 closed, assigned to russellandrade

[2013-11-06 19:29] #24 closed, assigned to russellandrade

[2013-11-06 19:29] #30 closed, assigned to russellandrade

[2013-11-07 22:31] allee commented on #491
Prioritized by Russel. removing Product Review flag.

[2013-11-07 22:45] allee commented on #478
See #489

[2013-11-07 22:49] allee commented on #279
See #163

[2013-11-07 22:50] allee commented on #460
Refer #489

[2013-11-07 22:50] allee commented on #453
Refer to #489

[2013-11-07 22:53] allee commented on #461
#489 See

[2013-11-08 14:43] dbrgss commented on #76
This class is no longer being used.

[2013-11-08 14:43] #76 closed, assigned to dbrgss

[2013-11-08 14:43] dbrgss commented on #75
This class is no longer in use.

[2013-11-08 14:43] #75 closed, assigned to dbrgss

[2013-11-08 14:44] dbrgss commented on #74
This class is no longer is use.

[2013-11-08 14:44] #74 closed, assigned to dbrgss

[2013-11-08 17:48] #82 closed, assigned to dbrgss

[2013-11-08 17:48] #94 closed, assigned to guarnold

[2013-11-08 17:48] #95 closed, assigned to guarnold

[2013-11-08 17:48] #96 closed, assigned to guarnold

[2013-11-08 17:49] #81 closed, assigned to dbrgss

[2013-11-08 18:23] allee commented on #85
est .5 days

[2013-11-08 18:24] allee commented on #80
est .5day

[2013-11-08 21:04] zadmarbella commented on #482
[2.0.0001]  verified - Added a BlackBerry NDK Debugger option that projects will use

[2013-11-08 21:04] #482 closed, assigned to zadmarbella

[2013-11-08 21:06] zadmarbella commented on #135
[2.0.0001] verified fixed

[2013-11-08 21:06] #135 closed, assigned to zadmarbella

[2013-11-08 21:11] zadmarbella commented on #253
[2.0.0001] VS2012 win 8 - spamming the default transport doesn't doesn't make visual studio stop responding. going to Blackberry Transport and doing the same thing does.

[2013-11-12 19:21] zadmarbella opened #514 "[2.0.0001] Adding xml files to project throws bar-descriptor editor error"
Creating xml files and opening xml files throws this error.

![openingxmlfiles](https://f.cloud.github.com/assets/1478549/1525031/4d35a500-4bcf-11e3-8c0b-903baf85cf75.png)

It looks to set bar-descriptor template as default for the whole project so that any xml file opened is expected to fit the bar-descriptor editor template.

[2013-11-15 17:23] dbrgss commented on #504
SCM group was able to install Visual Studio 2013 on our server

[2013-11-15 17:23] #504 closed, assigned to dbrgss

[2013-11-15 17:24] #411 closed, assigned to dbrgss

[2013-11-15 17:25] #73 closed, assigned to dbrgss

[2013-11-15 17:25] #85 closed, assigned to dbrgss

[2013-11-15 17:27] #403 closed, assigned to dbrgss

[2013-11-15 17:28] #69 closed, assigned to dbrgss

[2013-11-15 17:28] #70 closed, assigned to dbrgss

[2013-11-15 17:28] #77 closed, assigned to dbrgss

[2013-11-15 17:28] #78 closed, assigned to dbrgss

[2013-11-15 17:28] #79 closed, assigned to dbrgss

[2013-11-15 18:17] allee commented on #450
need to be able to cancel and recover.
Maybe able to do this using the command utility, will need help from the Tooling team (David Cummings)

[2013-11-21 19:12] #505 closed, assigned to dbrgss

[2013-11-21 20:04] guarnold commented on #501
If the runtime folder is not created, it means that the runtime is not available externally, i.e., it is not possible to download it. That also means that you are running an OS version that is available only internally. As a consequence, VS will always prompt the runtime download.

[2013-11-22 17:41] #16 closed, assigned to guarnold

[2013-11-22 17:41] #40 closed, assigned to dbrgss

[2013-11-22 17:41] #80 closed, assigned to dbrgss

[2013-11-22 18:40] dbrgss opened #522 "Installer: Non-default Visual Studio IDE Installation Root Directory Issue."
Summary: If a user has installed the Visual Studio IDE to a machine that has a non-default root drive letter.  (D:, E:, F:) the plugin install will fail.

Related Task: #637

[2013-11-22 18:45] dbrgss opened #523 "VS2013: Build Process not working."
Summary: When building a project the following error are returned.

1>C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120\Microsoft.Cpp.Platform.Redirect.10.props(23,3): warning MSB4011: "C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\Platforms\BlackBerry\Microsoft.Cpp.BlackBerry.default.props" cannot be imported again. It was already imported at "C:\Program Files (x86)\MSBuild\Microsoft.Cpp

[2013-11-26 16:05] guarnold commented on #478
Please, verify this issue happens in VS 2012 and 2013.

[2013-11-26 16:05] guarnold commented on #447
Please, verify if this issue is reproducible in VS 2012 / 2013.

[2013-11-26 16:24] zadmarbella opened #524 "[2.0.0002] unable to build on vs2013"
using goodcitizen project
build project  on visual studio 2013

Current Behaviour:
Build fails with error:

Error      1             error MSB8006: The Platform for project 'GoodCitizen_001.vcxproj' is invalid.  Platform='BlackBerrySimulator'.
This error may also appear if some other project is trying to follow a project-to-project reference to this project, this project
has been unloaded or is no

[2013-11-26 16:32] zadmarbella opened #525 "[2.0.0002] unable to access bar-descriptor editor on vs2013"
from a bbndk_vs solution (ie. goodcitizen)

open bar-descriptor in editor.

Current Behaviour:
Fails to open with this error:
![vs2013bar-descriptoreditorwontopen](https://f.cloud.github.com/assets/1478549/1623749/fb50a5d4-56b7-11e3-8945-27c4c73e1d40.png)

Workaround:
open through xml editor.

[2013-11-26 20:55] zadmarbella commented on #525
Looks to occur in vs2012 also it looks to affect device deploy.

[2013-11-26 22:12] guarnold commented on #450
User is able to cancel the download process and restart it later. However, he won't be able to debug without completing the download and installation tasks.

[2013-11-26 22:14] guarnold commented on #501
Verified with OS versions 1791 and 1725. Both runtime folders were created.
Verify if you can see the information about the used runtime in the build log.

[2013-11-26 22:42] zadmarbella opened #527 "[2.0.0001] unable to set debug token using bar-descriptor set from debug token button"
open bar-descriptor in editor
modify Author information so that it is different from the debug token information
Click Set from Debug token button

current behaviour:
it does nothing.

expected:
get information from debug token dialogue

Workaround:
copy paste the informaiton

[2013-11-26 22:47] zadmarbella opened #528 "[2.0.0001] Renaming projects requires user to recreate their bar-descriptor file"
1. rename project
2. include new entry points in the application
3. attempt to deploy

debug will fail with error like this

1>C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V110\Platforms\BlackBerry\Microsoft.Cpp.BlackBerry.Packager.targets(190,5): error MSB4018: The "GetAppInfo" task failed unexpectedly.
1>C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V110\Platforms\BlackBerry\Microsoft.C

[2013-11-28 05:09] guarnold commented on #457
The fix for issue #480 might have solved this one at the same time. Before this fix, the icon/splash screen had to be located under the project directory. If it was located somewhere else, it was not being found by the bar-descriptor editor. That might be the cause why the project was being built without those assets.
Please, verify if this issue is still reproducible.

[2013-11-28 16:34] zadmarbella opened #530 "[2.0.0003] unable to access API level installation window"
From Blackberry > Settings > Click Get More..

Current behaviour:
nothing happens

[2013-11-28 20:06] dbrgss commented on #530
Fixed in v2.0.0004

[2013-11-28 21:32] zadmarbella opened #532 "[2.0.0004] unable to close API level window if an error occurs in the download"
In the event an error has occurs with the api level download and the status shows Error.
The user is unable to exit the API Level dialog.

Workaround: force quit visual studio by ending the task in the task manager.

[2013-11-28 21:33] zadmarbella commented on #530
verified on 2.0.0004 win 8.1 vs2012.

while verifying found #532

[2013-11-28 21:33] #530 closed, assigned to zadmarbella

[2013-11-28 21:44] zadmarbella opened #533 "[2.0.0004] user is able to install/uninstall api level and simulator at the same time"
1. install/uninstall api level
2. click Get Simulators
3. attempt to install/uninstall while api level is installing

Current Behaviour:
user gets Error message and is unable to close Get Simulator window

Workaround:
it seems like once this error has occurred one has to uninstall the plugin and remove the folder contents.

[2013-11-29 15:31] zadmarbella commented on #447
blocked by #525

[2013-11-29 16:09] zadmarbella opened #534 "[2.0.0004] unable to close simulator install dialog once simulator download completes"
1. download simulator
2. wait for complete
3. attempt to close.

current behaviour: unable to close

[2013-11-29 16:50] zadmarbella opened #535 "[2.0.0004] unable to deploy to simulator"
Attempt to deploy/debug project to simulator

Current behaviour in vs2012 win 8.1 vmplayer 6.x
user gets this error:

![failedtoconnectosimulator](https://f.cloud.github.com/assets/1478549/1646273/2946ae06-5916-11e3-8087-462745c5ba0a.png)

[2013-11-29 16:51] zadmarbella commented on #440
blocked #535

[2013-11-29 16:55] zadmarbella commented on #470
2.0.0004 - verified fixed on win 8.1 vs2012

[2013-11-29 16:55] #470 closed, assigned to zadmarbella

[2013-11-29 17:00] zadmarbella commented on #471
[2.0.0004] verified fixed win 8.1 vs 2012

[2013-11-29 17:00] #471 closed, assigned to zadmarbella

[2013-11-29 17:04] zadmarbella commented on #478
[2.0.0004] verified vs 2012 on windows 8.1 and vs 2013 on windows 7

[2013-11-29 17:04] #478 closed, assigned to zadmarbella

[2013-11-29 17:13] zadmarbella opened #536 "[2.0.0004] Blackberry Plugin related properties vanish if one saves the project when the plugin is not installed"
Related to #478
Open project properties then save the project upon closing visual studio.
Install the plugin open the same project.

Curent Behaviour:
your project properties from the plugin will vanish

![projectpropertiesvanish](https://f.cloud.github.com/assets/1478549/1646394/94c485ec-5919-11e3-984c-32eda47dfc54.png)

Workaround:
Don't save project changes until the plugin is installed

[2013-11-29 18:19] dbrgss commented on #523
In the end this was not an issue.  Above error was caused by corrupt project.

[2013-11-29 18:22] dbrgss commented on #523
Looking into other issues.   It appears that a project using the BlackBerry or BlackBerrySimulator profiles are not looking into the right folder for the necessary MSBuil libraries.   If a user has both VS2012 and VS2013 installed concurrently then all works... but a lone install of VS2013 does not.

[2013-11-29 18:27] zadmarbella commented on #523
#524 are these related?

[2013-11-29 18:38] dbrgss commented on #495
Moving to sprint 72

[2013-11-29 18:48] #206 closed, assigned to nobody

[2013-11-29 18:57] dbrgss commented on #493
Playbook not supported anymore.

[2013-11-29 18:57] #493 closed, assigned to nobody

[2013-12-03 16:14] guarnold opened #538 "Unable to deploy for 10.2.1 devices/simulator"
The plug-in doesn't give any error message. It just doesn't deploy.

[2013-12-03 16:22] guarnold commented on #538
Workaround:
1 - Make sure you have downloaded and installed the 10.2 API level.
2 - Go to folder C:\qconfig
3 - Make a copy of the qnx_blackberry_native_development_kit_10.2.0.1155.xml file and name it with the right API level version (for example, qnx_blackberry_native_development_kit_10.2.1.1055.xml)
4 - Open this new file
5 - Update the "version" and "detailedVersion" fields with the correct AP

[2013-12-03 16:24] guarnold commented on #538
Fixed and already merged (#537) for VS 2010 and 2012.

[2013-12-03 16:33] guarnold opened #539 "API Level selection"
Currently, the user has to select the right API level in BlackBerry -> Settings menu.

However, after implementing the update manager, the right API level can be selected automatically. So, we have to choose the right way to select the API level and implement it (it is not properly implemented at this moment):

1 - Keep using the current way, i.e., the user selects it. In case he selects the wrong

[2013-12-03 17:43] zadmarbella commented on #538
verified this workaround on 2.0.0001 able to debug project on simulator 10.2.1.1055

[2013-12-06 14:42] #489 closed, assigned to dbrgss

[2013-12-13 01:13] guarnold commented on #495
Not reproducible in VS 2013. Do you have more details?

[2013-12-13 01:26] guarnold commented on #487
Using VS 2013, it normally takes 3 seconds to retrieve the debug token information using the correct settings and, during that time, the environment is unresponsive.

With Incorrect password -> it takes 2 seconds
With Incorrect IP -> it takes 2 seconds
With Device disconnected -> it takes 10 seconds

There is no way to present any message while trying to retrieve the debug token information becaus

[2013-12-13 09:08] srinivas4912 opened #545 "[2.0.0009] Status shows as Complete for API Level & Simulators window and Cancel installation pop up is displayed when Close button is clicked in API Level and Simulators window"
preq: install VS 2013 plugin from Bundle 184 on Win8.1

Stepts to Reproduce:
1. BlackBerry --> Settings
2. API Level window displayed when Get More button is clicked in Settings
3. Select BlackBerry Native SDK10.2 and clicked on Install
4. Complete status message is dispalyed after Native SDK installed
5. Clicked on Close

Actual result:
It is prompting to the "Cancel Installation?"
Expected resul

[2013-12-13 09:35] srinivas4912 opened #546 "[2.0.0009] Unable to open the bar-descriptor.xml file from the Solution Explorer"
preq: install VS 2013 plugin from Bundle 184 on Win8.1

Steps to Reproduce:
1. File --> Open --> Project/Solution
2. Select the project
3. In Solution Explorer view select the bar-descriptor.xml
4. Try to open(Double click on xml file)

Actual result:
It doesn't open the bar file and prompting to "Microsoft Visual Studio" - bar-descriptor Designer dialog (the vstemplate file you are attempting to

[2013-12-13 14:12] pvallabhaneni opened #547 "[Bundle 184] API levels are not installing and unable to open Settings, Signing and Debug Token dialogs from Blackberry menu"
Preq: Install VS 2012 and NDK plugin from bundle 184 on Win 7 64 bit.

Steps to Reproduce:
1. Open Visual Studio
2. Select "Blackberry" menu
3. Select "Settings" or "Signing" or "Debug Token" or Select File -> Open Project or File -> New Project

Actual result:
API Level dialog is opened with "Install" button enabled. When "Install" button is selected, nothing is happening and found visual studio

[2013-12-13 21:37] guarnold commented on #527
Not reproducible in VS 2013.

[2013-12-16 15:45] guarnold commented on #447
Issue 525 was fixed.

[2013-12-16 15:47] guarnold commented on #440
Issue 535 is not reproducible. Please verify.

[2013-12-16 16:32] dbrgss commented on #461
Feature to have at least one API finished.

[2013-12-16 16:38] pvallabhaneni opened #552 "Unable to debug a project on device and simulator"
Preq: Install Visual Studio 2012 on Win7 64 bit system. Install VSNDK plugin

1.Open visual Studio and open a project.
2.Build the project in debug mode.
3.Enter Device ip and password in Blackberry -> settings.
4.Add some breakpoints to the code and Debug the project on the device.
5.Repeat the above steps for the simulator with/without removing the device IP and password in Blackberry->settings.

[2013-12-16 16:49] pvallabhaneni opened #553 "Unable to deploy debug token on to the Simulator."
Preq: Install Visual Studio 2012 on Win7 64 bit system. Install VSNDK plugin

1.Open visual Studio and open a project.
2.Enter simulator IP and Password in Blackberry -> Settings dialog. Leave device IP address and password empty.
3.Select "Blackberry -> Debug Tokens" menu.

Actual Result: Error message is shown as "Missing Device IP".

Expected Result: User should be able to open the "Debug Token

[2013-12-16 16:52] guarnold commented on #553
Debug Tokens are only needed for devices. Simulator does not support debug tokens.

[2013-12-16 16:55] pvallabhaneni opened #554 "Deployed application is not found in simulator."
Preq: Install Visual Studio 2012 on Win7 64 bit system. Install VSNDK plugin

1.Open visual Studio and open a project.
2.Enter IP address and password for simulator in Blackberry -> Settings
3.Build the project and deploy the application on to the simulator.

Actual Result: Application is shown as deployed successfully on to the simulator in the "Output" console. But the application is not found i

[2013-12-16 17:02] guarnold commented on #554
I could not reproduce this issue in Win8 64 bit system, using VS 2012.

I don't have a Win7 machine anymore. Will have to verify this issue later.

[2013-12-16 17:06] #553 closed, assigned to nobody

[2013-12-16 17:24] hkopparru commented on #554
I could not reproduce this issue in Win7 64 bit system, using VS 2012.

[2013-12-16 17:24] #554 closed, assigned to dbrgss

[2013-12-16 17:52] dbrgss commented on #552
Question:  Are you trying to debug on a device and simulator at the same time.  In other words.. do you have a device connected via USB and a Simulator open at the same time?

[2013-12-16 19:19] hkopparru commented on #552
1. For debugging on simulator its showing "No Device IP" dialog but able to debug the code after closing the dialog using OK:
   work around for this issue: close No device ip dialog
2. try with different application for debugging on device.

[2013-12-16 19:35] guarnold commented on #552
There is an issue, #440, that is related to this "No Device IP" message. It was fixed and the code merged. It was not supposed to happen anymore if you are using the latest build. If it is still reproducible, please reopen issue 440 with more details about how to reproduce it.

However, this issue only prompts the "Missing Device IP" message, but the deploying task works normally in the simulator

[2013-12-16 20:05] guarnold commented on #139
This issue was fixed before.

[2013-12-16 20:08] guarnold commented on #140
Please, verify if this issue is still reproducible.

[2013-12-17 09:57] pvallabhaneni commented on #440
Unable to debug a project on simulator with device IP and password not set i  Blackberry->Settings dialog.

[2013-12-17 15:59] guarnold commented on #412
Can you still reproduce this issue? I know that it is not easy to reproduce it...
Maybe we should KIL this one.

[2013-12-17 16:21] dbrgss commented on #412
No I haven't seen it for a while.   We should maybe look to verify a debug creation on return from the command.   IE when we get a exit event from the process we should check to make sure that a debug was created.. An display an error if it wasn't.

[2013-12-17 16:24] pvallabhaneni commented on #552
I tried deploying and debugging a project on device and simulator on a fresh system. I was able to deploy and debug on the device, but not on to the simulator.

[2013-12-17 23:17] guarnold commented on #132
Minimal verbosity works as expected.

However, Quiet verbosity does not launch the debugger, only the app. A message box is presented to instruct the user to change the verbosity to any other one.

[2013-12-18 21:13] guarnold commented on #383
The device IP has as the default value 169.254.0.1
However, it was not being presented in the Settings window after installing the plug-in. After this fix, it is presented.

[2013-12-19 19:17] guarnold commented on #487
Now, the cursor changes while processing the debug token dialog.

[2013-12-19 19:23] guarnold commented on #111
I think this issue was already fixed. Could you verify if it is still reproducible?

[2013-12-19 19:26] guarnold commented on #309
Closed because it is a duplicate of issue #111

[2013-12-19 19:26] #309 closed, assigned to nobody

[2013-12-20 23:01] guarnold commented on #132
This fix inquires GDB to get the process ID, instead of getting it from the output window.

As a consequence, it requires the GDBParser.dll to be stored together with the package.dll.

I changed the scripts for VS 2012 and 2013.

I tried modifying the PATH variable, but it didn't work. I believe it uses the absolute path, instead of the relative one.

The installer has to be updated.

[2013-12-24 13:06] pvallabhaneni commented on #500
I too encountered the same bug using VS2012PluginInstaller_2.0_beta plugin and VS2012. After installing BBLink, I am able to find the Research In Motion folder.

[2013-12-31 09:26] srinivas4912 commented on #546
It's working fine on Win8.1 VS2013 with bundle 187[build 2.0.0012]

[2013-12-31 09:39] pvallabhaneni commented on #546
I am able to reproduce the issue on Win7 64bit and 32bit using VS2012 with bundle 187

[2013-12-31 11:28] srinivas4912 opened #565 "[2.0.0012] Unable to close the Debug Tokens window when clicked on "close button""
preq: install VS 2013 plugin from Bundle 187 on Win8.1

Stepts to Reproduce:
1. BlackBerry --> Debug Tokens
2. Click on Add button --> Enter registration details --> Ok (if not deployed debug token on device)
3. Click on Close button

Actual result:
The Close button not functioned and debug tokens window not closed.
Expected result:
The Debug Tokens window should be close when click on "close" but

[2014-01-02 11:54] pvallabhaneni opened #566 ""Deploy" option is not present in Win 7 32bit using VS2012 (Bundle 187)"
Install VS2012 & NDK plugin(Bundle 187) on Win7 (32bit) system.
Open a project.
Build the project.
Right click on the project.

Actual Result: "Deploy" menu is not present in the context menu.
Expected Result: "Deploy" menu should be present in the list of context menu.

Note: This menu is visible in Win7 - 64 bit system with the same NDK plugin.

[2014-01-02 12:16] pvallabhaneni commented on #566
This bug is reproduced intermitently.

[2014-01-02 12:51] pvallabhaneni opened #567 "[2.0.0012]Unable to Uninstall 10.1.0.4828 API Level with or without Environmental variable (INSTALL_DESCRIPTOR_LOCATION)."
Steps to reproduce:
1. Install VS2012 on Win7 (32bit) and install NDK plugin (Bundle 187).
2. Install API level from Blackberry->Settings->GetMore.
3. 10.2.1.1155 API level will get installed.
4. Connect the device with 10.1.0.4828 OS.
5. Try to debug the project on the device.
6. It asks for the supporting API level to be installed. Install it.
7. 10.1.0.4828 API level get installed.
8. Go to Bla

[2014-01-02 13:23] srinivas4912 opened #568 "[2.0.0012] Accepting input "BlackBerry" as Author name in Registration Window."
Preq: install VS 2013 plugin from Bundle 187 on Win8.1

Steps to Reproduce:
1. BlackBerry --> Signing
2. Click registration button --> Sign in to create and download your BlackBerry ID token
3. Input valid Username and Password --> Sign In
4. Input password and click on "Get Token"
5. Input Author name as "BlackBerry" and provide valid password in Registration Window

Actual result:
It is acceptin

[2014-01-02 13:28] pvallabhaneni opened #569 "[2.0.0012]Able to download author.p12 without logging in BBID and entering any (wrong) BBID Token password."
Steps to reproduce:
Scenario 1:
1. Install VS2012 and NDK plugin Bundle 187 on Win7 (32bit or 64bit).
2. Go to Blackberry->Signing->Click Register.
3. "Sign in to create and download your BlackBerry ID Token" dialog opens.
4. Close the dialog without entering the login credentials.
5. Registration Window dialog opens.
6. Enter Author name and wrong BB Id Token Password and click OK.

Actual result

[2014-01-02 13:42] pvallabhaneni opened #570 "[2.0.0012]"Add" button is disabled when debug token is not added."
Steps to reproduce:
1. Install VS2012 on Win7 (32bit and 64bit) and NDK plugin Bundle 187.
2. Register the Code signing properties.
3. Go to "Blackberry->Debug Tokens"
4. Click "Add"
5. Registration window opens.
6. Click Cancel.

Actuall Result: "Add" button is disabled.
Expected Result: "Add" button should be enabled again as Registration window is closed without adding debug token to the device

[2014-01-02 13:47] srinivas4912 commented on #373
This issue is reproduced on Win 8.1 VS2013 with bundle187[build 2.0.0012]

[2014-01-02 14:32] srinivas4912 commented on #570
This issue is reproduced on Win 8.1 VS2013 with Bundle 187[Build 2.0.0012].

[2014-01-02 15:35] zadmarbella commented on #440
@pvallabhaneni unclear what version or os this issue failed on. please clarify.

[2014-01-02 18:51] guarnold commented on #452
Could not reproduce it in VS 2013.

[2014-01-02 23:17] guarnold commented on #361
Unable to reproduce in Win 7, VS 2013.

The plugin takes sometime to identify a connection failure. Maybe that's why it looks to be unresponsive for around 7 seconds, before presenting the notification message. This is the expected behavior (wait for 7 seconds).

[2014-01-03 12:03] pvallabhaneni opened #573 "Install Run time is not prompted while debugging"
preq: don't have run time for device OS,
device used:London
OS used: 10.1.0.4828
NDK Plugin: Bundle 187
1. Debug a project.
2. Application should prompt to download run time as it is not present.

Actual result: No prompt is shown to download the run time. Project is continuing to build.

[2014-01-03 15:49] guarnold commented on #573
There are no runtimes for 10,0 and 10.1 OS versions.
This runtime feature was included only on OS version 10.2.

The described behavior is the expected one for 10.0 and 10.1.

[2014-01-03 18:28] #389 closed, assigned to dbrgss

[2014-01-03 21:37] zadmarbella opened #574 "[2.0.0001] able to verify correct runtime is used"
VS2012
Win8.1
Steps:
1 Using #538 workaround download a 10.2.1 runtime
2 Attempt to debug
3 Review the gdb logs

Current behaviour:
seeing runtime path appear
Path to is logged: C:\bbndk_vs\runtime_10_2_1_1055
When on path exists.

Sample log:
16:25:21 - 6set solib-search-path C:\bbndk_vs\runtime_10_2_1_1055\qnx6\armle-v7\lib;C:\bbndk_vs\runtime_10_2_1_1055\qnx6\armle-v7\usr\lib;C:\bbndk_vs\runtim

[2014-01-06 13:32] srinivas4912 opened #575 "[2.0.0012] Unable to select required API Level from the API Levels window"
Preq: install VS 2013 plugin from Bundle 187 on Win8.1 using 10.2.1.1927(SDK OS)

Steps to Reproduce:
Don't have the API Level for the device OS
1. DEBUG --> Start Debugging
2. API Levels window opened and list out the SDK OS

![image](https://f.cloud.github.com/assets/5992406/1877980/a530090e-7932-11e3-99ac-677cd72318af.png)

Actual result:
The API Levels window, Didn't have the scrollbar to sele

[2014-01-06 15:03] pvallabhaneni commented on #575
I have encountered the same bug while using VS 2012 on Win 7 (32bit) with Bundle 187 plugin using 10.1.0.4828 OS

[2014-01-06 15:03] #573 closed, assigned to nobody

[2014-01-06 15:41] #21 closed, assigned to guarnold

[2014-01-06 15:41] #72 closed, assigned to nobody

[2014-01-06 15:41] #90 closed, assigned to nobody

[2014-01-06 16:35] zadmarbella commented on #574
seeing the same behaviour using [2.0.0014] on win8.1 vs2013
using 10.2.1.1925
log:
11:14:40 - 6set solib-search-path C:\bbndk_vs\runtime_10_2_1_1844\qnx6\armle-v7\lib;C:\bbndk_vs\runtime_10_2_1_1844\qnx6\armle-v7\usr\lib;C:\bbndk_vs\runtime_10_2_1_1844\qnx6\armle-v7\usr\lib\qt4

[2014-01-06 18:15] #163 closed, assigned to dbrgss

[2014-01-06 18:50] zadmarbella opened #577 "[2.0.0014] unable to connect to device while debugging"
Win 8.1 VS2013.
1. Launch project for debugging

Current Behaviour:

The connection looks to time out on gdb side.

Errorlogs:
gdb)
10:42:35 - =thread-group-added,id="i1"

10:42:35 - ~"GNU gdb (GDB) 7.5 qnx (rev. 791)\n"

~"Copyright (C) 2012 Free Software Foundation, Inc.\n"

~"License GPLv3+: GNU GPL version 3 or later http://gnu.org/licenses/gpl.html\nThis is free software: you are free to chan

[2014-01-07 08:47] pvallabhaneni opened #578 "[2.0.0012] User is unable to add debug token if entered wrong CSK password once."
Preq:
1.Install VS2012 in Win7(32bit).
2.Download CSK file from Blackberry->Signing

Steps to Reproduce:
1.Go to Blackberry->Debugtokens dialog.
2. Add debug token
3. Registration window prompts for Author name and BBID token password.
4. Enter a Author name and wrong BBID Token password.
5. "The specified CSK password" error dialog appears and "debug tokens" dialog is still visible in the back of

[2014-01-07 10:46] pvallabhaneni opened #579 "[2.0.0012] Unable to take Backup for Signing Key."
Preq:
1. Install VS2012 on Win7 (32bit).
2. Install VSNDK plugin - Bundle 187

Steps to Reproduce:
1. Complete the signing process and make sure that the signing keys are present.
2. Go to Blackberry -> Signing and click "Backup"
3. Browse to a location and save.

Actual Result: Following error message is shown.
![signing backup](https://f.cloud.github.com/assets/5992422/1858263/d46d7aae-7788-11e3

[2014-01-07 13:13] zadmarbella opened #580 "[2.0.0014] unable to uninstall multiple simulators consecutively without closing Simulator download dialog"
Win8.1 vs2013/2012

Install more than 1 simulator
uninstall one
do not close Simulator Dialog
uninstall the other

Current behaviour:
Info dialog appears indicating simulator is are already installing/uninstalling.
When Dialog message says it's Complete.

![uninstallmorethanonesim](https://f.cloud.github.com/assets/1478549/1859139/661e24d0-779d-11e3-9633-4b5953755106.png)

Workaround:
Close simula

[2014-01-07 15:43] srinivas4912 commented on #575
Observed the same behaviour using [2.0.0012] on win7 64 VS2013 using 10.2.1.1927(SDK OS)

[2014-01-07 15:51] srinivas4912 commented on #565
The same behaviour observed using [2.0.0012] on win7 64 VS2013 using 10.2.1.1927(SDK OS)

[2014-01-07 19:06] dbrgss commented on #580
Marked Complete.   Change will be included in the next build.

[2014-01-07 19:24] dbrgss commented on #579
Mark Completed: Fix to be included in the next available build.

[2014-01-07 20:43] dbrgss commented on #578
Issue Fixed... will be included in the next build.

[2014-01-08 15:51] dbrgss commented on #575
You should not be seeing the list as it is displayed.   You should only have 3 entries...  one for 10.0, 10.1 and 10.2...   Has the computer you are testing on ever been used for Momentics testing??   Do you have other NDK's installed on the PC??

Dave

[2014-01-08 16:13] dbrgss commented on #575
Just to let you know... that this dialog will disappear and not display once you download and install one of the API levels.. you do not necessarily have to pick the exact version that  you are going to use.

[2014-01-08 18:50] guarnold commented on #250
The qualifier field is editable.

If the user types a string that is similar to one of the available BlackBerry qualifiers (device and/or simulator, depending on the BlackBerry settings), the similar one is selected. If none of them are similar, a default value is selected.

In case there is no device/simulator set in BlackBerry settings, nothing is presented and the typed text is removed.

[2014-01-08 18:52] dbrgss commented on #570
Fixed in next release

[2014-01-08 19:01] dbrgss commented on #567
This environment variable doesn't work with our project..

INSTALL_DESCRIPTOR_LOCATION

[2014-01-08 20:43] guarnold commented on #577
Available in the next build.

[2014-01-09 09:54] srinivas4912 commented on #568
[2.0.0014] I have encountered the same issue while using VS2013 on Win8.1 with Bundle 191 plugin using Trunk Build OS

[2014-01-09 12:05] pvallabhaneni opened #587 "[2.0.0014]Installed API level is not listed correctly."
Preq: Install VS 2012 and VSNDK Plugin Bundle 191[2.0.0014] on Win 7 64 bit. / Install VS 2013 and VSNDK plugin Bundle 191[2.0.0014] on Win 8.1.

Steps to reproduce:
1. Goto Blackberry->Settings->GetMore
2. Observed that Blackberry Native SDK (10.0,10.1,10.2) are shown in "Available" list.
3. Click "install" beside Blackberry Native SDK 10.2
4. After completing the installation close the API Level

[2014-01-09 12:23] pvallabhaneni opened #588 "[2.0.0014]UnInstalled API level is not listed correctly."
Preq: Install VS 2012 and VSNDK Plugin Bundle 191[2.0.0014] on Win 7 64 bit. / Install VS 2013 and VSNDK plugin Bundle 191[2.0.0014] on Win 8.1 and Install 2.1.0.115 API Level.

Steps to reproduce:
1. Goto Blackberry->Settings->GetMore
2. Observe that Blackberry Native SDK 10.2 is listed in API Level drop down box in Settings dialog.
3. Observe that Blackberry Native SDK 10.2 is listed under "Inst

[2014-01-09 13:30] pvallabhaneni commented on #575
Issue is reproducible with VSNDK Plugin Bundle 191 [2.0.0014] on Win 7 64 bit.

[2014-01-09 16:14] srinivas4912 opened #589 "[2.0.0014] Debugger Does Not Hit Breakpoints"
Preq: 1. Install VS2013 plugin from Bundle 191 on Win8.1 using Trunk build OS
     2. Install The API Level for the device OS(Trunk build)

Steps to Reproduce:
1.Open visual Studio and open a project.
2.Open bar-descriptor.xml file and set Author information from "set from debug token".
3.Build the project in debug mode.
4.Enter Device ip and password in Blackberry -> settings.
5.Add some breakpoi

[2014-01-09 21:10] guarnold commented on #574
I was able to reproduce this issue when my bbndk_vs folder was corrupted. After deleting this folder, as well as the qconfig one, this issue was not reproducible anymore.

I was able to verify that the path to the used runtime exists.

I have two questions/comments:
1 - would it be good to have the used runtime and api level information available in the output window?
2 - need to verify if this is

[2014-01-09 22:36] guarnold commented on #566
Could not reproduce this issue in Win 7 64 bits, using VS2012, as described above.
Tried with bundle 187 and 191. Could you try it with bundle 191? Or wait till the next build is available?

As I could read, you have installed the VS2012 and the NDK. I would like to know if you have created the BlackBerry and BlackBerrySimulator platform configurations, as we have to do after installing  VS. Maybe

[2014-01-09 23:35] guarnold commented on #569
Fixed for scenario 1. If user closes the browser without downloading the bbidtoken.csk file, the registration window will not open and, as a consequence, the author.p12 will not be created.

About the scenario 2: it works as expected. That happens because it is not possible to verify the password in this step. We can only verify it when creating the debug token. If the user entered the wrong passw

[2014-01-09 23:46] guarnold commented on #569
Available in the next build

[2014-01-10 01:02] guarnold commented on #568
Available in the next build.

[2014-01-10 09:02] pvallabhaneni opened #592 "[2.0.0014] Device IP Address is set by default in Settings dialog."
Preq: No device is connected to the system.

Steps to Reproduce:
1. Install VS2012 on Win 7 64bit.
2. Install VSNDK Plugin Bundle 191[2.0.0014].
3. Goto Blackberry->Settings.

Actual Result: Device IP Address is set to 169.254.0.1 by default.

Expected Result: Device IP Address text box need to be empty and user has to add the IP Address.

[2014-01-10 12:43] pvallabhaneni commented on #567
I tried uninstalling the API Level 10.1.0.4828 without setting the environmental variable, still I am unable to uninstall it.

[2014-01-10 15:31] guarnold commented on #592
It works as expected. 169.254.0.1 is the default IP for devices and it is set during the plug-in installation.

[2014-01-10 15:31] #592 closed, assigned to nobody

[2014-01-10 16:59] dbrgss commented on #567
Fixed in latest version

[2014-01-10 17:06] dbrgss commented on #575
Fixed in the next available version

[2014-01-10 17:08] dbrgss commented on #587
Fixed in the next available version

[2014-01-10 21:55] guarnold commented on #566
Could not reproduce this issue in a Win 7 32 bits environment, using VS2012 and bundle 187. The Deploy option is available in the menu when you right click on the project.

Please, try to verify this issue using a different project. Maybe, the used project might be corrupt.

[2014-01-13 18:05] guarnold commented on #552
Could not reproduce this issue. Could you verify it again using the latest build?

[2014-01-13 18:10] guarnold commented on #128
GDB seems to be supporting modules at this moment. We could implement this feature now.

[2014-01-13 18:28] dbrgss commented on #565
Fixed in the next version

[2014-01-14 23:32] guarnold commented on #589
This issue was fixed and will be available in the next build.

The real issue was #577.

To help you identify what might be causing the issue, have a look at the gdb-output.log file.

[2014-01-14 23:33] guarnold commented on #589
Duplicate of #577

[2014-01-14 23:33] #589 closed, assigned to nobody

[2014-01-14 23:49] guarnold commented on #145
The plug-in was supporting thread names but GDB was not. Now it is and it is possible to see the name of the thread in the thread window.

[2014-01-15 00:00] guarnold commented on #127
Could not reproduce this issue in VS2013, win7  64 bits

Please, verify if this issue is still reproducible when using other configurations.

[2014-01-15 00:05] guarnold commented on #125
The user is able to make changes but he cannot build while debugging a program. If the user tries to build, a message window will ask him if he wants to cancel the current debugging session or not.
Verified in VS2013, win7 64 bits. Please, verify in other configurations.

[2014-01-15 19:58] guarnold commented on #574
When the environment is not corrupt, this issue is reproducible only when using internal runtimes/api levels that are not available externally. In such a situation, the gdb-output.log file may present that a specific runtime is being used while the respective folder does not exist. It is also possible to debug the app, but it won't be able to locate the shared libraries with symbols if needed. To

[2014-01-15 20:01] guarnold opened #594 "Investigate what's causing the bbndk-vs folder to be corrupt"
Maybe when cancelling the installation of runtime/api level, after downloading it completely.

Related to issue #574

[2014-01-15 22:56] guarnold commented on #144
GDB is returning more information about the stack frames. However, some times, the location is [External Code] and that means that it might not jump to the location from the thread window when that happens, opening the No Source Available window.

This issue will be closed because GDB is returning all the information that we need, except sometimes that the program really is running an external cod

[2014-01-16 11:44] pvallabhaneni opened #597 "[2.0.0015] Debug token dialog is opening when signing is not done."
Steps to Reproduce:
1.Install VS2012 on Win 7 32bit / VS2013 on Win 8.1 and related VSNDK Plugin.
2.Do not register signing keys.
3.Goto Blackberry->Debug Tokens

Actual Result: Error message is shown that signing keys are missing .
![missing](https://f.cloud.github.com/assets/5992422/1930060/3017f124-7ea3-11e3-86fc-607073152c4f.png)

when user selects OK, Error message box is shown wihout any err

[2014-01-16 12:07] pvallabhaneni opened #598 "[2.0.0015] Able to register completely when wrong password is given in Registration Window"
Steps to Reproduce:
1.Install VS2012 on Win7 32bit and install VSNDK plugin Bundle 192[2.0.0015],
2.Goto Blackberry->Signing.
3.Login and download CSK password.
4.Registration window opens.
5.Enter an Author name and wrong BBID Token password.

Actual Result: After closing the Registration Window by selecting OK button, Code Signing Properties dialog is shown as Registered ("Register" button is di

[2014-01-16 12:34] srinivas4912 opened #599 "[2.0.0015] Debug token dialog is opening when missing device IP address."
Preq: 1. Install VS2013 plugin from Bundle 192[2.0.0015] on Win8.1

Steps to reproduce:
1. Go to BlackBerry --> Settings.
2. Clear IP Address and Device Password fields.
![image](https://f.cloud.github.com/assets/5992406/1930279/58776e42-7ea8-11e3-8d38-886b7e86e461.png)
3. Go to BlackBerry --> Debug Tokens.

Actual Result:
Missing Device IP dialog is opened.
![image](https://f.cloud.github.com/ass

[2014-01-16 12:54] srinivas4912 commented on #598
Reproduced in VS2013 plugin from Bundle 192[2.0.0015] on Win8.1

[2014-01-16 14:05] dbrgss commented on #597
Fixed as of v2.0.0016

[2014-01-16 14:09] dbrgss commented on #598
This is as designed.   Registration/Generation of the signing keys doesn't do any sort of validation of the User Name or Password being entered in.  This doesn't happen until you attempt to create a DebugToken which then calls out the the Server using the Signing Keys and is validated at that time.   If you try to create a DebugToken with an invalid password you will receive an Error and then an o

[2014-01-16 14:10] dbrgss commented on #599
Fixed as of 2.0.0016

[2014-01-16 14:12] dbrgss commented on #539
v2.0.0015

[2014-01-16 14:12] #598 closed, assigned to nobody

[2014-01-16 14:50] srinivas4912 commented on #568
Verified and fixed in VS2013 plugin from Bundle 192[2.0.0015] on Win8.1

[2014-01-16 14:51] pvallabhaneni commented on #440
Able to reproduce in [2.0.0015]. No device is connected and simulator is running in the system. No device IP is set in settings and Simulator IP address is given in settings. Issue is reproducing.

Similar issue is seen when debug token dialog is opened.

[2014-01-16 17:17] guarnold commented on #440
Could not reproduce this issue using VS2013 in Win 7 64 bits environment. Could you provide more details about the environment?

Make sure that the BlackBerrySimulator configuration is selected.

About the debug token dialog, this behavior is expected because we use debug tokens only in devices, not in simulators. So, when you open the debug token dialog, the first thing the plugin does is to chec

[2014-01-16 22:22] guarnold commented on #314
Beta versions are not considered by the update manager anymore. You will not see any Beta version available to install.

[2014-01-17 07:58] srinivas4912 commented on #597
Preq: Install VS2013 plugin from bundle 193[2.0.0016] on Win8.1

Steps to Reproduce:
1. Do not register signing keys.
2. Go to Blackberry->Debug Tokens
3. Signing keys not registered dialog is opened.
4. Click on "OK"

Actual Result:
Debug Tokens dialog is opened.
![image](https://f.cloud.github.com/assets/5992406/1938537/d34695ae-7f4c-11e3-9270-7560636c0227.png)

[2014-01-17 09:33] pvallabhaneni commented on #570
Verified in Win 7 32bit and Win8.1 using Bundle 193[2.0.0016]. Found that Registration Window does not open when "Add" button is clicked and debug token is added.

[2014-01-17 09:33] #570 closed, assigned to nobody

[2014-01-17 09:36] pvallabhaneni commented on #569
Verified in Win 7 - 32bit using VSNDK Plugin Bundle 193[2.0.0016] and found scenario 1 as fixed.

Now user is unable to register without entering the login credentials and logging in. Also author.p12 is not downloaded if sign in dialog is closed.

[2014-01-17 09:36] #569 closed, assigned to nobody

[2014-01-17 09:38] pvallabhaneni commented on #546
Verified on Win 7 32bit using VSNDK Bundle 193 [2.0.0016] and found to as fixed.

[2014-01-17 09:38] #546 closed, assigned to dbrgss

[2014-01-17 09:44] pvallabhaneni commented on #578
Verified on Win 7 32bit using VSNDK plugin 193 [2.0.0016] and found as fixed.

[2014-01-17 09:44] #578 closed, assigned to nobody

[2014-01-17 09:48] srinivas4912 commented on #575
Verified in VS2013 plugin from bundle 192[2.0.0015] on Win8.1

[2014-01-17 09:48] #575 closed, assigned to nobody

[2014-01-17 10:05] srinivas4912 commented on #565
Verified in VS2013 plugin from bundle 192 on Win8.1

[2014-01-17 10:05] #565 closed, assigned to nobody

[2014-01-17 10:17] pvallabhaneni commented on #579
Verified the issue on Win 7 32bit using VSNDK plugin bundle 193 [2.0.0016] and found as fixed.

[2014-01-17 10:17] #579 closed, assigned to nobody

[2014-01-17 10:20] pvallabhaneni commented on #552
This issue is related to #440 .

[2014-01-17 10:26] pvallabhaneni commented on #597
Verified in Win 7 32bit using VSNDK bundle 193 [2.0.0016]. Debug token dialog is still opening after closing the "missing signing key" dialog.

[2014-01-17 10:29] srinivas4912 commented on #599
Verified in VS2013 plugin from bundle 193[2.0.0016] on Win8.1 and fixed.

[2014-01-17 10:29] #599 closed, assigned to nobody

[2014-01-17 10:36] pvallabhaneni commented on #547
Verified the issue using Bundle 193 and found as fixed.

[2014-01-17 10:36] #547 closed, assigned to nobody

[2014-01-17 11:38] pvallabhaneni opened #602 "[2.0.0016] Runtime Installation is prompting continuously"
Steps to reproduce:
1. Install VS2012 on Win 7 32bit and VSNDK bundle 193[2.0.0016].
2.Debug the project.
3. Runtime installation dialog is opened as follows.
![runtime](https://f.cloud.github.com/assets/5992422/1939852/82a56944-7f6b-11e3-8c59-fc54365d6063.png)
4.Install runtimes.
5.After completion of installing runtimes click close.

Actual result: Application is not continued to install on to t

[2014-01-17 13:54] guarnold commented on #602
Please, look at the Output Window to see if there are errors in the build/deploy process and paste them here.
This message happens when the VS debugger cannot attach to a running process. It might be caused by many reasons and some of them are described in the output window.

Another question, was the application deployed and launched in the device/simulator?

[2014-01-17 15:17] pvallabhaneni commented on #602
Application is deployed into the device and there are no errors found in the output window.Application is not running automatically.Only a black screen is visible on the device. If the black screen is closed on the device and application is started again on the device, it is running without any problem.

Following is found in output window.

1>------ Deploy started: Project: FallingBlocks_MltThrd_

[2014-01-17 18:40] guarnold commented on #602
I could reproduce that issue once, but because I know that I always have to check the output window for errors, I found out that I had to rebuild the app because the bar-descriptor file was changed. After rebuilding, it worked as expected. However, the current error message is not so clear, suggesting the user only to check for the running app in the device, instead of suggesting him to look at th

[2014-01-17 18:55] guarnold commented on #602
I received your message just a few minutes ago, after publishing my comments 10 minutes ago...

That black screen in the device means that the application was deployed and launched in the device correctly, and it is waiting for the debugger to attach to it.

Could you try running a different app, like the single thread falling blocks? I thing that this issue could be related to the multi thread ve

[2014-01-18 06:45] pvallabhaneni commented on #602
I tried on a fresh machine. After installation runtime is completed, runtime folder is not found in vsndk_vs folder.

![bug](https://f.cloud.github.com/assets/5992422/1946510/be3e3846-800b-11e3-8ffe-2b3a6584ed06.PNG)

And so runtime installation dialog is shown every time and then after closing it "Failed to launch debugger" is shown.

[2014-01-18 08:06] pvallabhaneni opened #604 "[2.0.0016] Qualifier dropdown is not showing the device IP settings."
Preq: Install VS2012 on Win 7 32bit and VSNDK plugin bundle 193 [2.0.0016]

Steps to reproduce:

1. Enter correct device IP address in blackberry ->Settings.
2. Debug ->attach To Process
3. Open Transport Dropdown and set it to Blackberry
4. Open Qualifier Dropdown

Actual Result: Nothing is shown in the dropdown.
![111](https://f.cloud.github.com/assets/5992422/1946651/5ad00b20-8017-11e3-8758-f8a

[2014-01-18 09:12] pvallabhaneni opened #605 "[2.0.0016] Warning is not shown in Attach to Process when device is not set."
Steps to reproduce:
1.Set Blackberry Settings information to empty.
2.Access Attach to Process
3.Select Transport Blackberry.

Actual Result: No warning message is shown.
Expected Result: A warning message that there is no device/simulator information that the Blackberry Transport can attach to.

[2014-01-18 09:16] srinivas4912 opened #606 "[2.0.0016] Warning message is not shown when incorrect qualifier is input."
Preq: 1. Install VS2013 plugin from Bundle 193[2.0.0016] on Win8.1
         2. Device/Simulator correct information in Blackberry VS Plugin Settings
1. Debug > Attach To Process
2. Attach to process dialog is opened
   ![image](https://f.cloud.github.com/assets/5992406/1946716/67446242-801d-11e3-89b4-bd87c1af93d4.png)
3. Select Transport Blackberry
4. Input Incorrect Qualifier Device IP address

[2014-01-18 09:25] pvallabhaneni commented on #604
Also Available Processes are empty as follows.
![bug](https://f.cloud.github.com/assets/5992422/1946767/648b69e2-8022-11e3-9491-6f4a1654b443.PNG)

[2014-01-18 09:33] srinivas4912 commented on #606
Observed intermittently, when clicked on Refresh button "Device/Simulator not connected or not configured properly" dialog opened.

[2014-01-18 11:25] pvallabhaneni opened #607 "[2.0.0016] Debug token window is not refreshing for different device"
Preq: Install VS2012 on Win7 32bit system

Steps to Reproduce:
1. Connect a device that has a debug token installed.
2. Disconnect and reconnect a different device that has a debug token installed.\
3. Open debug token dialog.

Actual Result: Debug token information is not shown on the dialog and "Renew" button is disabled.
![bug](https://f.cloud.github.com/assets/5992422/1946949/1203d4d2-8033-11e

[2014-01-18 13:26] srinivas4912 commented on #607
Encounter the same issue in VS2013 plugin from bundle 193[2.0.0016] on Win8.1 with 10.2.1.1925 OS build.

[2014-01-20 14:12] srinivas4912 opened #608 "[2.0.0016] In Permissions, Found some of the check boxes unchecked when scrolling up and down."
Preq: Install VS2013 plugin from Bundle 193[2.0.0016] on Win8.1

Steps to reproduce:
1. Open bar-descriptor.xml file in editor.
2. Modify permissions[Check all the check boxes].
![image](https://f.cloud.github.com/assets/5992406/1954581/f21c9386-81d9-11e3-93d6-57717a94a552.png)
3. Scroll up and down using mouse/scroll bar.

Actual result:
1. When scrolling up observed that, top of the check boxes

[2014-01-20 15:07] pvallabhaneni commented on #608
Same issue is observed on Win 7 32bit using VS2012

[2014-01-20 17:41] guarnold commented on #606
The user can only select between the two options that were set using BlackBerry -> Settings menu, one for simulator and another for device, at most.

Because the Qualifier text field is editable, the current behavior when the user type in that field is to chose between the two available options. It normally picks the one that looks similar to the typed one. If none of them is similar, it chooses t

[2014-01-20 17:51] guarnold commented on #605
The expected behavior, that I could verify In VS 2013 is:

A message "Missing Device/Simulator information. Please, use BlackBerry -> Settings to add any of those information." is presented after selecting the BlackBerry transport, or before opening the Attach to Process window when you have selected the BlackBerry transport before. The Attach to Process window is always presented even without the

[2014-01-20 18:35] guarnold commented on #607
This is the expected behavior if the debug token from the second device is different from the one that is associated to the blackberry ID token from your computer (that is stored in the first device). So, you are unable to renew it, but you can add a new debug token in the second device based on the BB ID token that you have on your computer.

Briefly speaking:
1 - if you have a debug token in the

[2014-01-20 23:04] guarnold commented on #605
This issue is not reproducible in VS 2013 and 2012 (64 bits).

I could say that this issue is reproducible in 32 bits environment, however, there is another issue (#604) that happens only in 32 bits environments that includes this one.

Please, verify if this issue happens only in VS2012 32 bits. If yes, you can close it as duplicate of #604. If not, send more details about the used environment.

[2014-01-20 23:18] guarnold commented on #602
I still cannot reproduce this issue in VS 2013 and 2012 (64 and 32 bits).

Please, include the used OS version from the device (Settings -> About -> OS -> OS Version). Depending on the OS Version, the runtime dialog might always appear without installing the runtime successfully.

Please, also include the selected API Level from the plugin: BlackBerry -> Settings -> BlackBerry API Levels), There i

[2014-01-20 23:20] guarnold opened #609 "Failed to launch debugger on 10.1 and 10.0 device/simulator"
We met error "Failed to launch debugger" is on 10.1.0.4828 device/simulator
But it works on 10.2.0 and 10.2.1 device/simulator

Related to issue #310

[2014-01-21 00:11] guarnold commented on #604
Workaround:
After entering the BlackBerry settings data, start debugging an app. After debugging an app, the plug-in starts updating the Qualifier from the Attach to Process window, and then you can modify the Device/Simulator IP and that change will be reflected immediately.

This issue is reproducible in 32 and 64 bits environment, for both VS 2012 and 2013.

[2014-01-21 05:31] pvallabhaneni commented on #602
OS version used on the device is 10.1.0.4828. API level downloaded is 10.2.0.1155 from GetMore as per one test case.

[2014-01-21 06:18] pvallabhaneni opened #610 "[2.0.0016] Target Name is not updated correctly in Intermediate Directory."
Preq: Install VS2012 on Win 7 32 bit.
Step to Reproduce:
1.Access the project properties from the contextual menu and modify Project name.
2.Build the project.

Actual Result: Output Directory is updating the output file name correctly with the new name given in the project properties. But Intermediate directory is created with the same old name.

![bug](https://f.cloud.github.com/assets/5992422/1

[2014-01-21 09:14] pvallabhaneni opened #611 "[2.0.00.16] Removed bar-descriptor.xml file is created again"
Preq: Install VS2012 on Win 32bit NDK plugin.

Steps to Reproduce:
1.Create a C++ empty project.
2.Create a Blackberry build configuration from Configuration Manager.
3.Observe that bar-descriptor.xml file is created.
4.Right click on the bar-descriptor.xml file and select "Remove"
5.Prompt occurs to remove or delete or cancel.
6.Click "Remove"

Actual Result: Observe that the bar-descriptor file

[2014-01-21 10:16] srinivas4912 opened #612 "[2.0.0016] Unable to switch from one platform to another after navigate to "Configuration Properties""
Preq: Install VS2013 plugin from Bundle 193[2.0.0016] on Win8.1

Steps to reproduce:
1. Access project properties from the project context menu
2. From the drop down switch platform to "BlackBerrySimulator"
3. Navigate to Configuration Properties

Actual Result:
1. Overlaps configuration and platform drop down menus when navigating to common properties and configuration properties
![image](https:/

[2014-01-21 14:32] guarnold commented on #611
This is the expected behavior. A BlackBerry application must have a bar-descriptor file. That/s why a new one is automatically created when you delete the old one.

The delete/remove options have the same behavior for the bar-descriptor file, that is, to delete the existing one and to create a new one automatically.

If you do not want to have a new bar-descriptor file created, you have to change

[2014-01-21 14:43] #611 closed, assigned to nobody

[2014-01-21 14:45] guarnold commented on #602
The debugger is not being attached to the running process because of the issue #609 (this part is a duplicate of 609). It is being fixed and will be available in the next build.

The issue related to the runtime: I am going to verify the behavior when the OS version is older than the selected API Level. However, the behavior related to API levels/runtime changed for the last build. Before, the API

[2014-01-21 16:42] guarnold commented on #612
This is a Visual Studio issue / behavior, not the plug-in one.

The results 1 and 2 also happens with the default VS configuration. To verify that, create a new C++ console project. Then, create a new configuration. Choose the x64 one, as it is not related to BlackBerry and open its properties. Navigate the same way and you will get the same results / issues.

About the 3rd result, it is the curre

[2014-01-21 18:27] guarnold commented on #610
That's expected. The target name property corresponds to the application name that will be created in the output directory, as you can see in the pictures.

However, the files that are stored in the Intermediate folder use the name of the project and not the target name. The behavior in Win32 projects is the same.

[2014-01-22 04:16] #610 closed, assigned to nobody

[2014-01-22 08:05] srinivas4912 commented on #607
Preq: Install VS2013 plugin from bundle 193[2.0.0016] on Win8.1 using R070 with 10.2.1.1925 build

Steps to Reproduce:
1. Have same debug token installed on both the devices
2. Connect a device that has a debug token installed
3. Invoke debug tokens window
4. Disconnect and reconnect a different device that has a same debug token installed
5. Press Renew

Actual Result:
On device observed that, De

[2014-01-22 16:55] guarnold commented on #607
At this moment, you cannot switch devices without reopening the debug token window. That's because:

1 - if you have a debug token in the device and it was generated from the current BB ID token.csk file stored in your computer, you have only the Renew option available;
2 - if you have a debug token in the device and it was NOT generated from the current BB ID token.csk file stored in your compute

[2014-01-23 15:24] guarnold commented on #606
I would recommend to close this issue as soon as we document it.

[2014-01-23 15:27] guarnold commented on #605
Probably a duplicate of #604. Verify if the workaround described in issue 604 solves this issue. If yes, you can close it.

[2014-01-24 00:01] guarnold commented on #602
About the first issue, the debugger is not being attached to the running process: Duplicate of #609

About the runtime issue: If the app was build using an API level that is newer than the OS version of the attached device/simulator, an error message is presented to the user stating that he cannot deploy and debug that app. If he wants to use that device/simulator, he have two options: 1 - update

[2014-01-24 06:36] #606 closed, assigned to nobody

[2014-01-24 11:21] pvallabhaneni commented on #602
This issue is not observed while using VS 2013 plugin [2.0.0016].

[2014-01-24 15:04] srinivas4912 commented on #552
Unable to debug on simulator 10.2.1.1925 using VS2013 plugin from Bundle 193[2.0.0016] on Win8.1

[2014-01-24 15:59] srinivas4912 opened #615 "[2.0.0016] Unable to uninstall API levels that is installed from other than VS plug-in."
Preq: 1. Install VS2013 plug-in from Bundle 193[2.0.0016] on Win8.1
	 2. Installed API level not from VS plug-in ie. Momentics
Steps to reproduce:
1. From BlackBerry > Setting > Click Get More
2. Select API level not installed from Visual Studio
3. Click Uninstall

Actual Result:
Observed that uninstalling API level window and after some time show as "complete" but not deleted the source folders f

[2014-01-24 22:03] guarnold commented on #602
Could you give us more details, like device/sim OS version, API level used to build the app?

The next build is on the way. Please verify this issue using the next one.

[2014-01-24 22:21] guarnold commented on #164
You can check the EULA (End User License Agreement) during the plug-in installation.

[2014-01-24 23:02] guarnold commented on #164
Available in build 2.0.0018 (bundle195).

[2014-01-24 23:03] guarnold commented on #552
Could not reproduce this issue.

Please verify it again using the latest build 2.0.0018 (bundle195).

[2014-01-24 23:03] guarnold commented on #602
Available in build 2.0.0018 (bundle195).

[2014-01-24 23:06] guarnold commented on #602
About the first issue, the debugger is not being attached to the running process: Duplicate of #609

About the runtime issue: If the app was build using an API level that is newer than the OS version of the attached device/simulator, an error message is presented to the user stating that he cannot deploy and debug that app. If he wants to use that device/simulator, he have two options: 1 - update

[2014-01-24 23:06] guarnold commented on #609
Available in build 2.0.0018 (bundle195).

[2014-01-24 23:07] guarnold commented on #608
Available in build 2.0.0018 (bundle195).

[2014-01-24 23:07] guarnold commented on #597
Available in build 2.0.0018 (bundle195).

[2014-01-24 23:07] guarnold commented on #463
Available in build 2.0.0018 (bundle195).

[2014-01-25 07:13] pvallabhaneni opened #616 "[2.0.0018] API Levels are not visible in API Level dialog."
Steps to Reproduce:
1. Install VS2012 on Win7 32bit and Bundle 195 plugin.
2. Go to Blackberry->Settings->GetMore
3.API Level dialog opens.
4. Observe that 10.0 and 10.1 API levels are not visible to install.
![bug](https://f.cloud.github.com/assets/5992422/2001170/33fe2b8e-8590-11e3-8089-ba297d9d2e69.png)

[2014-01-25 07:59] pvallabhaneni commented on #602
Verified the issue using Bundle 195 on fresh machine, now "API levels" dialog is not prompting continuously once API level that supports OS in the device connected downloaded.

But unable to debug the project and "Failed to Launch Debugger" dialog is shown.

[2014-01-25 08:41] pvallabhaneni commented on #597
Verified in build 2.0.0018 (bundle195) and found as fixed.

[2014-01-25 09:34] pvallabhaneni commented on #587
Verified the issue using bundle 195[2.0.0018] and found as fixed.

[2014-01-25 09:53] pvallabhaneni commented on #567
Verified the issue using bundle 195 [2.0.0018] and found as fixed.

[2014-01-25 09:53] #567 closed, assigned to nobody

[2014-01-25 10:25] srinivas4912 opened #617 "[2.0.0018] If don't have API level for device OS, It's prompting for runtime libraries instead of API level for device OS"
Preq: 1. Install VS2013 plug-in from Bundle 195[2.0.0018] on Win7 64bit and using Naples R085 with 10.2.1.1925 build OS.
2. Have API level 10.2.0.1155 but don't have API level for device OS, project to debug

Steps to reproduce:
1. debug project

Actual Result:
It is prompting to install Runtime Libraries for the device OS

Expected Result:
It should prompt to install API level, if does not exist.

[2014-01-25 10:38] pvallabhaneni commented on #608
Verified the issue using Bundle 195 [2.0.0018] and found as fixed in Win 7 32bit system.

[2014-01-25 10:53] srinivas4912 opened #618 "[2.0.0018] New API level didn't select when API level installs"
Preq: Install VS2013 plug-in from Bundle 195[2.0.0018] on Win7 64bit

Steps to reproduce:
1. From Blackberry > Setting > Click Get more
2. Select a list of Available
3. Click Install
4. New API level installs

Actual Result:
Observed that, From Blackberry > Setting
![image](https://f.cloud.github.com/assets/5992406/2001529/f5d47ba0-85b3-11e3-815e-519048b68c15.png)

But manually we able to select i

[2014-01-25 11:20] pvallabhaneni commented on #615
This issue is observed in Win 7 32bit also using Bundle 195 [2.0.0018].

[2014-01-25 13:26] pvallabhaneni opened #619 "[2.0.0018] Deleted Apps are shown after restarting the simulator."
Steps to Reproduce:
1.Install VS2012 on Win 64bit and Bundle 195 [2.0.0018] VSNDK plugin.
2.Deploy multiple applications on to the Simulator.
![2 instances](https://f.cloud.github.com/assets/5992422/2001687/fdc09456-85c3-11e3-99d5-f5fc34a74f12.png)
3.Delete the applicaitons on the simulator.
![no instllers](https://f.cloud.github.com/assets/5992422/2001688/0b50b48e-85c4-11e3-8792-5e9759006d91.png)

[2014-01-25 13:53] srinivas4912 opened #620 "[2.0.0018] It's opening empty window when click on "OK" button on "Signing keys not registered" window"
Preq: 1. Install VS2013 plug-in from Bundle 195[2.0.0018] on Win7 64bit and using Naples R085 with 10.2.1.1925 build OS

Steps to reproduce:
1. Signing keys not registered. Make sure the "Research In Motion" folder is empty.
![image](https://f.cloud.github.com/assets/5992406/2001728/3d82492e-85c7-11e3-9917-5710e1d7abf2.png)
2. Open bar-descriptor.xml file from one of the project.
3. Click on "Set

[2014-01-25 15:52] guarnold commented on #616
I cannot reproduce this issue. Please try toe following steps and send me the details:

Verify if the folders are corrupt. To do that, please check:
1  - the bbndk_vs folder - verify if it contains the target folders for 10.0 and 10.1 (example: target_10_1_0_1020)
2 - the c:\qconfig folder - verify if it contains the xml files for each available target from above item 1;

Second, it can be a commu

[2014-01-25 15:59] guarnold commented on #602
Please, send more details, like the Win OS, 32 or 64 bits, API level used to build, device or simulator, device/simulator OS version, the application name and the gdb-output log file (check the time this file was updated, just to avoid sending the file related to a previous session, instead of the last attempt).

[2014-01-25 16:03] guarnold commented on #617
The behavior is correct.

API levels are required to download for all of the OS versions 10.0 and 10.1.

Since 10.2, we are using runtimes, so it is correct to ask for the runtime if you have a 10.2.0.1155 API level installed. It should ask for 10.2 API level download only if you don't have the 10.2.0.1155 installed.

[2014-01-25 16:05] guarnold commented on #618
Workaround after downloading the API level: select the downloaded one from the list of available API levels.

[2014-01-25 16:17] guarnold commented on #615
Workaround to uninstall this kind of API levels: Uninstall it using the same tool that was used to install it (probably Momentics)

[2014-01-25 16:23] guarnold commented on #619
This is not supposed to happen. Could you confirm that the simulator was really restarted (by using the reset option from VMPlayer: Virtual machine -> Power -> Reset -> Yes)? I am asking because if you try to shutdown the simulator, it will ask you if you want to "suspend" the session, and not reset it. If you click yes, you are not restarting the simulator, but just used the hibernate-like mode.

[2014-01-25 19:48] guarnold commented on #620
By mistake I clicked in close button.

[2014-01-25 19:55] guarnold commented on #607
The last 2 comments, after reopening this issue, is a duplicate of #133

[2014-01-25 20:25] guarnold commented on #602
Please, give more details. Before sending the message that the build was good to go, I verified it in VS 2012 Win8 64 bits and VS 2013 WIn7 64 bits machines, using many different combinations of API levels and OS versions from 10.0, 10.1 and 10.2. It worked in all of them, but it is really possible that it is failing for a specific configuration. Send the details so I can do a deep investigation t

[2014-01-27 11:33] pvallabhaneni opened #621 "[2.0.0018] Unable to stop debugging from Simulator/Device."
Install VS2012 on Win 7 64 bit and Bundle 195 plugin [2.0.0018].
Launch project for debugging to a simulator.
Hit a break-point.
From simulator close the Project App.

Actual Result: Project debug session is not stopped.

[2014-01-27 12:15] pvallabhaneni commented on #568
"Blackberry" followed by numbers are not accepted as Author name.
![author name](https://f.cloud.github.com/assets/5992422/2008526/a720624a-874c-11e3-875d-9ca742bef0be.PNG)

[2014-01-27 12:16] pvallabhaneni commented on #568
Verified in Win 7 64 bit using bundle 195 [2.0.0018] plugin and found the above bug,

[2014-01-27 12:52] pvallabhaneni opened #622 "[2.0.0018] "Missing Device Password" dialog is shown when "Attach to Process" is selected."
Preq: Install VS2012 on Win 7 64 bit and Bundle 195[2.0.0018]. Don't set device password in settings.Set the IP Address and password correctly for Simulator in settings.

Set the Active Solution Platform to "BlackBerrySimulator"
Goto Debug->Attach to Process menu.

Actual Result: "Missing Device Password" dialog is shown. After closing "Missing Device Password" dialog, Attach to Process dialog is

[2014-01-27 12:52] guarnold commented on #621
This issue happens when using any simulator and api level, or only when using a specific one?

[2014-01-27 13:33] pvallabhaneni commented on #602
I have verified the issue on fresh machine using bundle 195, device OS 10.1.0.4828 on Win 7 32bit  and found as fixed.

[2014-01-27 13:45] srinivas4912 commented on #552
Verified in VS2013 plug-in from bundle 195[2.0.0018] and found as fixed.

[2014-01-27 13:45] #552 closed, assigned to nobody

[2014-01-27 13:46] #602 closed, assigned to nobody

[2014-01-27 14:18] srinivas4912 commented on #612
As for the comments, it is not plugin issue.

[2014-01-27 14:18] #612 closed, assigned to nobody

[2014-01-27 15:52] pvallabhaneni commented on #621
I found this issue while using 10.2.1.1925 simulator and 10.2.0.1155 API level.

[2014-01-27 15:58] srinivas4912 commented on #617
It is not an issue for 10.2 OS version.

[2014-01-27 15:58] #617 closed, assigned to nobody

[2014-01-27 18:12] guarnold commented on #568
I believe that the behavior is correct, by refusing author names that contains "BlackBerry". However, I will keep this issue in Triage until I get the confirmation about that.

[2014-01-27 18:26] guarnold commented on #622
This issue was not verified in VS 2013 probably because of issue #604. I believe that, after doing the proposed workaround and debug (and stop debugging) an app using the simulator before Attaching to Process, this issue should be also reproducible in 2013.

Labeled as a P3.

[2014-01-28 09:52] srinivas4912 commented on #621
This issue found on 10.2.0.1155 and 10.2.1.1925 simulators using VS2013 plugin from bundle 195[2.0.0018] on Win 7 64bit.

[2014-01-28 10:50] srinivas4912 opened #623 "[2.0.0018] Unable to stop debugging when power off the simulator/device"
Preq: 1. Install VS2013 plug-in from Bundle 195[2.0.0018] on Win7 64bit using 10.2.1.1925 and 10.2.0.1155 simulators

Steps to reproduce:
1. Debug a project on a simulator
2. hit a breakpoint
3. Power off the simulator

Actual Result:
Project debug session is not stopped.

[2014-01-28 11:00] pvallabhaneni commented on #619
I have selected Player->Power->Shut Down Guest and also verified Player->Power->Restart Guest. Deleted apps are shown in both the scenarios.

![bug](https://f.cloud.github.com/assets/5992422/2018271/61ef4e60-880b-11e3-8180-f4188f3d346e.png)

I could not find Virtual Machine ->Power -> Reset option.

[2014-01-28 13:57] pvallabhaneni commented on #616
This issue is found only once. Verified the same multiple times and this issue is not found again on any of the environments.

[2014-01-28 19:29] guarnold commented on #568
Confirmed. VS plugin must not allow any author name that contains the word "BlackBerry".

Recommend to close.

[2014-01-28 19:51] dbrgss commented on #588
This should be fixed as part of other fixes to the Upgrade Manager... please re-verify.

[2014-01-29 06:02] pvallabhaneni commented on #588
Verified the issue on Win 7 64 bit using Bundle 195 [2.0.0018] and found as fixed.

[2014-01-29 06:02] #588 closed, assigned to nobody

[2014-01-29 07:27] pvallabhaneni commented on #568
Verified on win7 64 bit using bundle 195 [2.0.0018]. Author name containing "Blackberry" is not accepted as Author name.

[2014-01-29 07:27] #568 closed, assigned to nobody

[2014-01-29 07:35] srinivas4912 commented on #455
Issue is still reproduced while using plugin VS2012/VS2013 from bundle 195[2.0.0018] on Win7/8.1

[2014-01-29 10:36] pvallabhaneni commented on #619
Encountered the same issue in Win 8.1 with VS2013 using Bundle 195[2.0.0018] plugin in the above 2 scenarios ("Shut Down Guest" and "Restart Guest").

[2014-01-29 18:33] guarnold commented on #621
This issue is reproducible in the device too. It happens because:

"When you close the app it does not get killed, it gets sent a message to close. So, it is still running. When you do exec-continue it detects the situation and exits."

The exec-continue is sent to GDB by clicking the play button or pressing F5 key. So, if the user closes the app and them hit the play button, the debug session is

[2014-01-29 19:48] guarnold commented on #623
This issue is reproducible in the device too.

If the user tries to continue debugging, VS will keep waiting for a response from the simulator/device. To stop debugging, the user has to hit the stop button.

It was expected to close the debug session when the user tries to debug an app in a device/simulator that was powered off.

[2014-01-29 19:50] guarnold commented on #619
This issue is reproducible. However, it is not a VS plugin issue and it will be assigned to the right team.

[2014-01-29 20:05] dbrgss commented on #455
This is not an issue as this feature was never implemented.   Creating new Task to cover this.   Recommend closing of this issue.

[2014-01-29 20:06] dbrgss opened #624 "Implement use of Escape button to close BlackBerry settings dialogs."

[2014-01-30 10:16] srinivas4912 opened #625 "[2.0.0018] Microsoft visual studio has stopped working when recreate new project"
Preq: Install VS2013 plug-in from Bundle 195[2.0.0018] on Win7 64bit

Steps to Reproduce:
1. From Visual Studio File > New > New Project...
2. From New Project Select New Visual C++ > Empty Project in a solution
3. Provide a relevant name
4. click OK
5. from project contextual menu right click
6. Import BlackBerry Core Native Project
7. Browse for .project or .cproject [e.g. HelloWorldDisplay] and

[2014-01-30 12:05] #587 closed, assigned to nobody

[2014-01-30 12:52] srinivas4912 commented on #622
The issue is reproduced in VS2013 from [2.0.0018] on Win7 64.
Workaround: "missing device password" dialog has opened,  before attaching to process and after selecting the Transport as "BlackBerry".

[2014-01-30 14:12] #455 closed, assigned to nobody

[2014-01-30 14:25] guarnold commented on #455
Task created: #624

[2014-01-30 17:28] dbrgss commented on #453
Should be retested as the logic behind this screen has been refactored..  This issue should not occur.

[2014-01-30 20:51] guarnold commented on #625
Could not reproduce this issue using VS 2013 in a Win7 64 bits machine.

Could you try the following:
1 - in the same machine that you can reproduce this issue, verify if you can reproduce the same issue. if yes, it is a Visual Studio issue and not a plugin one:
     a - Follow steps 1 to 4
     b - in the Configuration Manager, add a new one: (x64 or ARM) an select this one for the project
     c

[2014-01-30 20:54] guarnold commented on #625
Also, try in the same machine the following workaround between steps 8 and 9: Close the current solution. If you are not able to reproduce the issue after closing the solution, it might be a possible workaround.

[2014-01-31 06:29] pvallabhaneni commented on #566
I tried with different projects on Win 8.1 and Win 7 64 bit using 2.0.0018 version of plugin, 10.2.1.1925 runtime, 10.2 API level and found as working fine.

[2014-01-31 06:29] #566 closed, assigned to nobody

[2014-01-31 09:27] pvallabhaneni commented on #473
Verified in Win 7 64 bit and Win 8 64 bit using 2.0.0018 plugin , 10.2.1.1925 runtime and 10.2.0.1155 API level and found as fixed.

[2014-01-31 09:27] #473 closed, assigned to dbrgss

[2014-01-31 09:47] srinivas4912 commented on #535
The issue is not reproduced in all the environments. checked with VS2012/VS2013 plugin from bundle 2.0.0018 and found as fixed.

[2014-01-31 09:47] #535 closed, assigned to nobody

[2014-01-31 10:19] pvallabhaneni commented on #164
Verified EULA (End User License Agreement) implementation for VS2012 / VS2013 on Win 7 32bit / 64 bit and Win 8.1 systems using 2.0.0018 plugin and found as implemented correctly.

[2014-01-31 11:50] srinivas4912 commented on #625
Workaround while setting configuration manager (x64 or ARM or Win32) and after closing current solution also, the same issue reproduced with VS2013 plugin from bundle 2.0.0018 on Win7 64bit.

[2014-01-31 13:30] pvallabhaneni commented on #383
Verified in Win 7 32/64 bit using 2.0.0018 plugin. when debug token dialog is opened without  settings set by user after installing the plugin, "Missing device password" dialog is shown.When settings dialog is opened IP address is set to 169.254.0.1 and password field set to empty.

[2014-01-31 14:32] srinivas4912 commented on #577
Verified and fixed in win8.1 and win7 64 bit using VS2013/VS2012 from bundle 2.0.0018 on 10.2 device OS

[2014-01-31 14:32] #577 closed, assigned to nobody

[2014-01-31 16:57] srinivas4912 commented on #609
It has not fixed and reproduced on Win7 64 using VS2013/VS2012 plugin from bundle 2.0.0018.
Preq: Installed API level 10.1.0.4828
When we are debugging on device using 10.1.0.4828 OS, we met error "Failed to launch debugger".

[2014-01-31 17:17] srinivas4912 commented on #453
Preq: Install VS2013/VS2012 plug-in from Bundle 195[2.0.0018] on Win7 64 and 32 bit using 10.2

Steps to reproduce:
1. From Blackberry > Settings > Get More.
2. Select api level to install from "Available" list.
3. Installation is in progress.
4. Unplug Network cable.
5. Observed that After 5 min.
![image](https://f.cloud.github.com/assets/5992406/2052697/b7a6c7c0-8a9a-11e3-98fe-df069ddc0cf8.png)

[2014-01-31 17:32] guarnold commented on #625
Okay. As you were able to reproduce the same issue with other configurations, please uninstall the plugin and do the same you did before, using x64, arm and Win32 configurations. If the error persists, it is an environment issue (I wouldn't say VS issue because I could not reproduce it here).

[2014-01-31 19:26] zadmarbella commented on #625
The issue looks to be reproducible with adding projects to the same solution.

[2014-01-31 22:22] guarnold commented on #609
The verbosity cannot be set to Quiet. Please check:
Tools -> Options -> "Projects and Solutions" -> "Build and Run" -> "MSBuild project build output verbosity"
Tools -> Options -> "Projects and Solutions" -> "Build and Run" -> "MSBuild project build log file verbosity"
This issue is always reproducible when using 10.0 and 10.1 devices/simulators with the verbosity set to Quiet.

If the verbosity i

[2014-02-03 07:24] srinivas4912 commented on #625
Uninstalled the plugin VS2013 from bundle 2.0.0018 on Win7 64 bit.
Repeated the steps to create new project and found that it is not reproduced, so it is not visual studio issue.

[2014-02-03 11:45] pvallabhaneni commented on #616
This issue is reproducing for the first time of installing the plugin.

Scenario 1:
1.Install VS2012 and VSNDK plugin [2.0.0018] on a fresh machine (Win 7 32/64 bit)
2. Goto Blackberry->Settings->Get More.

Actual Result: Above dialog is shown with no API levels visible in both available list and Installed list.

Scenario 2:
1.Install VS2012 and VSNDK plugin [2.0.0018] on a fresh machine (Win 7 32

[2014-02-03 13:20] pvallabhaneni opened #626 "[2.0.0018] Able to close "API Level" dialog without closing "Update Manager" dialog."
Pre-requisite:
System OS: Win 7 64bit/Win 8.1
API Level: 10.2.1.1155
Plugin Version: 2.0.0018
VS version : VS2012/VS2013

Steps to Reproduce:
1. Install VS2012/VS2013 and NDK plugin on win 7 64 bit.
2. Go to Blackberry->Settings->Get More->Get Simulators
3. Install a simulator.
4. Clcik "Close" while installation is in progress.
5."Cancel Installation?" dialog appears.Click "Yes"

Actual  Result:

[2014-02-03 13:22] pvallabhaneni commented on #609
Installed VS2012and VSNDK plugin - 2.0.00.18  on Win 7 32bit fresh machine and downloaded 10.1 API level and found that 10.1.0.1020 API level is downloaded. Target and host folders present in bbndk_vs folder are related to 10.1.0.1020 and no other target,host folders are found.

In the settings dialog API level is set to 10.1.0.1020 as follows.
![apilevel](https://f.cloud.github.com/assets/5992422

[2014-02-03 14:12] srinivas4912 commented on #523
Built multiple projects successfully using VS2013 plugin from version 2.0.0018 on Win8.1 and VS2012 on Win7 64 bit.

[2014-02-03 14:12] #523 closed, assigned to nobody

[2014-02-03 14:13] pvallabhaneni commented on #314
Verified VS2012 / VS2013 using 2.0.0018 plugin on Win 7 / Win 8.1 and found that beta version API levels are not available to download.

[2014-02-03 14:15] pvallabhaneni commented on #609
Unexpectedly closed the issue.Reopening it.

[2014-02-03 14:23] pvallabhaneni commented on #524
Able to build GoodCitizen project and also other projects successfully on VS2013 on Win 8.1,  VS2012 on Win 7 (32 & 64 bit) using 2.0.0018 version plugin.

[2014-02-03 14:23] #524 closed, assigned to nobody

[2014-02-03 15:13] dbrgss commented on #625
I couldnt reproduce this either...  on Windows 7.0 running VS2012

[2014-02-03 15:20] srinivas4912 commented on #527
able to get the Information and updated author information  from "set from debug token" button in bar-descriptor.xml file and found as fixed.

[2014-02-03 15:20] #527 closed, assigned to nobody

[2014-02-03 15:23] guarnold commented on #609
Did you try to debug the app after rebuilding it?
We need to get the generated build messages that you receive while you try to debug the app. If it fails to debug, after rebuilding using the correct api level, you should have the build log (from debugging) as well as the gdb-output.log file.

[2014-02-03 15:27] guarnold commented on #609
The build messages from debugging should be something like this one, which includes the process ID on it (1>  result::9887882). Then, the GDB output log might exist and should have important information about why the debugger was not able to be launch.

1>Build started 1/31/2014 12:54:34 PM.
1>BuildBar:
1>  App Installed
1>  FallingBlocks_001.vcxproj ->
1>OptimizedDeploy:
1>  Info: Sending request

[2014-02-03 15:44] srinivas4912 commented on #534
It hasn't reproduced and found as fixed.
Verified using VS2012 plugin from 2.0.0018 on Win7 64bit.

[2014-02-03 15:44] #534 closed, assigned to nobody

[2014-02-03 15:55] srinivas4912 commented on #525
Verified using VS2013/VS2012 from 2.0.0018 on Win8.1 and Win7 (64 & 32)bit.
User is able to save the modifications, able to open bar-descriptor.xml file in editor and found as fixed.

[2014-02-03 15:55] #525 closed, assigned to nobody

[2014-02-03 16:06] srinivas4912 commented on #480
Verified using VS2013/VS2012 from Product version 2.0.0018 on Win8.1, Win7 (64&32) and found as fixed.

[2014-02-03 16:06] #480 closed, assigned to nobody

[2014-02-03 16:26] srinivas4912 commented on #533
Verified and found as fixed using VS2013/VS2012 from product version 2.0.0018 on Win8.1, Win7(64&32) bit.
The button "Get Simulators" is disabled While installing the new API level.

[2014-02-03 16:26] #533 closed, assigned to nobody

[2014-02-03 16:51] srinivas4912 commented on #321
It is verified and found as fixed using VS2012/VS2013 from build 2.0.0018 on Win 8.1 and Win 7 (64&32) bit.

[2014-02-03 17:01] srinivas4912 commented on #460
It is fixed and not reproduced because the blackberry plug-in for VS requires at least one API target to function correctly and last API level target is prohibited to uninstall.

[2014-02-03 17:01] #460 closed, assigned to nobody

[2014-02-03 17:08] srinivas4912 commented on #580
It is not reproduced and found as fixed using plugin VS2012 from build 2.0.0018 on win7 64 bit.

[2014-02-03 17:08] #580 closed, assigned to nobody

[2014-02-03 20:12] guarnold commented on #609
Try the following steps:
1 - Use a 10.0 or 10.1 simulator or device. For this issue, it is being used the 10.1.0.4828.

2 - Select an API level to build the app that is compatible with the device/simulator. Compatible means: the same version or older than the device/simulator OS version (in this case, 10.1.0.4828). It can be 10.1.0.1020 that was used before but it cannot be 10.2.
  --   Observatio

[2014-02-03 23:09] guarnold commented on #625
Fixed, but the fix is not available yet. I'll update this issue with the build version that will contain this fix.

[2014-02-04 07:39] pvallabhaneni opened #628 "[2.0.0018] Selected API level is modifying when "API Level" dialog is opened & Closed."
Pre-requisite:
System OS: Win 7 32bit / 64bit
Plugin Version : 2.0.0018

Steps to Reproduce:
1. Install more than 1 API level.
2. Select the 2nd or 3rd API level in the API level dropdown present in Settings dialog
3. Select "Get More.." button
4. Close "API Level" dialog,

Actual Result: API level in the dropdown control is changing to the 1st API level by order.

Expected Result: API level selec

[2014-02-04 09:48] srinivas4912 commented on #447
The issue has fixed and verified using VS2012/VS2013 plugin from build 2.0.0018 on Win8.1 and Win7 (64&32).

[2014-02-04 09:48] #447 closed, assigned to nobody

[2014-02-04 10:03] srinivas4912 commented on #400
The issue has fixed and verified without installing VS plugin as well as API level on Win8.1 and Win7 64.

[2014-02-04 10:03] #400 closed, assigned to nobody

[2014-02-04 10:05] pvallabhaneni commented on #609
I have installed VS2012 and 2.0.0018 version plugin. Connected a device having  10.1.0.4828 OS.

Downloaded 10.1.0.1020 API level. Rebuilt the project and tried to debug the project.
While debugging it asked to install 10.1.0.4828. I have installed it. Then I am unable to debug the project and following is the ouput log.

1>------ Deploy started: Project: FallingBlocks_MltThrd_001, Configuration:

[2014-02-04 10:31] pvallabhaneni commented on #109
Verified on Win 7 32bit and Win 8.1 using 2.0.0018 plugin.
Following messages are shown on error log when right clicked on bar-descriptor file and selected view code.

![messages](https://f.cloud.github.com/assets/5992422/2075155/68a79c40-8d87-11e3-8078-94ce79058811.PNG)

[2014-02-04 11:16] srinivas4912 commented on #321
Pre-req: Have no JAVA installed.
It is still reproduced using VS2013 plugin from build 2.0.0018 on Win8.1 and not reproduced using VS2012 on Win7 (64&32)bit.

[2014-02-04 12:35] #164 closed, assigned to nobody

[2014-02-04 12:35] #383 closed, assigned to nobody

[2014-02-04 12:36] #314 closed, assigned to nobody

[2014-02-04 12:41] #608 closed, assigned to nobody

[2014-02-04 12:50] guarnold commented on #609
You cannot have spaces in the path. That's why it failed to launch in the first attempt. There is a space between " fresh sample " in: C:/Users/pvallabhaneni/Desktop/Fresh Samples/FallingBlocks_001/FallingBlocks_001/Device-Debug/FallingBlocks_001

About the other two attempts, did you close the app that was running in the device / simulator? You should have seen a black screen in the device / simu

[2014-02-04 12:54] guarnold commented on #609
1 - remove the spaces in the path of the project folder.
2 - follow the same steps you did before, but always check if the app is running in the device / simulator before you start debugging. If it is running, close it.

[2014-02-04 13:05] pvallabhaneni commented on #609
Able to debug the project successfully using 10.1.0.1020 API level on Win 7 32bit on a device containing 10.1.0.4828 OS

[2014-02-04 13:05] #609 closed, assigned to nobody

[2014-02-04 15:27] srinivas4912 commented on #597
Verified and found as fixed from build 2.0.0018 on Win8.1 and Win7 (64&32) bit.

[2014-02-04 15:27] #597 closed, assigned to nobody

[2014-02-04 15:53] srinivas4912 commented on #127
It is not fixed and reproduced on Win8.1 and Win7(64&32) bit from build 2.0.0018(VS2013/VS2012)

[2014-02-04 16:02] srinivas4912 commented on #545
It is fixed and verified build 2.0.0018 on Win8.1 and Win7(64&32) bit.

[2014-02-04 16:02] #545 closed, assigned to nobody

[2014-02-04 16:12] srinivas4912 commented on #372
It is fixed and verified in build 2.0.0018 on Win8.1 and Win7 (64&32) bit.

[2014-02-04 16:12] #372 closed, assigned to nobody

[2014-02-04 16:32] srinivas4912 commented on #111
It is fixed and verified in build 2.0.0018 on Win8.1 and Win7 (64&32)bit.

[2014-02-04 16:32] #111 closed, assigned to nobody

[2014-02-04 19:26] guarnold commented on #453
Fix will be available in the next build.

[2014-02-05 08:48] pvallabhaneni commented on #538
Verified without any workaround. Able to deploy an application using 10.2 (10.2.0.1155) API level on to a device 10.2.1.1925 OS  and  10.2.1.1925 Simulator containing on Win 7 64 bit system.

[2014-02-05 08:48] #538 closed, assigned to nobody

[2014-02-05 09:25] srinivas4912 commented on #495
It is not reproduced in VS2013 plugin from build 2.0.0018 on Win8.1 and found as fixed.

[2014-02-05 10:11] pvallabhaneni commented on #501
Verified on Win 7 64 bit with a device having 10.2.0.1791 OS and downloaded the corresponding runtimes to download. Then connected a device containing 10.2.0.1725 OS and tried to debug. Then  Visual Studio prompted to download the 10.2.0.1725 runtime.

[2014-02-05 10:38] srinivas4912 commented on #574
It is verified using VS2013/VS2012 plugin from build 2.0.0018 on Win8.1 and Win7 (64&32) bit and found as fixed

[2014-02-05 10:39] pvallabhaneni opened #630 "[2.0.0018] "Start without Debugging" is prompting for debugger settings"
Pre-requisite: Install VS2012 on Win 7 64 bit or VS 2013 on Win 8.1 System and download 10.2.0.1155 API level.

Steps to Reproduce:
1. Open a project.
2. Goto Debug menu and select "Start without debugging" or press "CTRL + F5".

Actual Result: Following dialog is shown.
![bug](https://f.cloud.github.com/assets/5992422/2086106/9212fea6-8e51-11e3-8165-002a8d1b4afc.png)

but deploy is successful and

[2014-02-05 11:09] pvallabhaneni opened #631 "[2.0.0018] Unable to attach to the process for Simulator."
Pre-requisite:
System OS: Win 7 64 bit
Simulator OS: 10.2.1.1925
API Level: 10.2.0.1155

Steps to Reproduce:
1. Got o Debug->Attach to Process menu.
2. Select Transport Blackberry
3. Select Qualifier Simulator

Following dialog is shown.
![1](https://f.cloud.github.com/assets/5992422/2086354/ddb9e226-8e55-11e3-96e1-3f1055cb55ca.png)

When any of the above processes is selected and click attach, fo

[2014-02-05 11:53] pvallabhaneni commented on #440
Verified on Win 7 64 bit using 2.0.0018 plugin with 10.2.1.1925 simulator and "Missing Device IP" dialog is not shown.

[2014-02-05 11:53] #440 closed, assigned to nobody

[2014-02-05 12:15] srinivas4912 commented on #279
Could you please update instructions on how to run the build scripts using VS2012/13.

[2014-02-05 13:26] srinivas4912 commented on #457
It is verified and found as fixed using VS2012/13 plugin from build 2.0.0018 on Win8.1 and Win7 64 bit.

[2014-02-05 15:27] #457 closed, assigned to nobody

[2014-02-06 12:29] pvallabhaneni commented on #539
Verified using 2.0.0018 plugin on Win 7 and Win 8.2 with VS2012 and VS2013. No message is shown if wrong API level is selected.

[2014-02-06 12:30] #495 closed, assigned to nobody

[2014-02-06 12:30] #574 closed, assigned to nobody

[2014-02-06 13:10] dbrgss commented on #539
This was a task that was completed.   Closing..

[2014-02-06 13:10] #539 closed, assigned to nobody

[2014-02-06 13:30] pvallabhaneni commented on #450
Verified on Win 7 and Win 8.1 using 2.0.0018 plugin. User is able to cancel the download of API level, Simulator and Runtime. User can restart it again and download. User Can debug only after completing the downloading of API level and Runtime.

[2014-02-06 13:30] #450 closed, assigned to nobody

[2014-02-06 13:38] srinivas4912 commented on #250
It is verified using VS2013/12 plugin from 2.0.0018 on win 8.1 and Win7 64 bit and It is working fine as per the above comments.

[2014-02-06 13:42] srinivas4912 commented on #285
It is verified using VS2013/12 plugin from 2.0.0018 on win 8.1 and Win7 64 bit and found as fixed.

[2014-02-06 14:26] #250 closed, assigned to nobody

[2014-02-06 14:26] #285 closed, assigned to nobody

[2014-02-06 15:21] pvallabhaneni commented on #139
Verified using v2.0.0018 plugin on win7 32bit / 64bit and win8.1 using VS2012/2013 and found as fixed.

[2014-02-06 15:21] #139 closed, assigned to nobody

[2014-02-06 15:24] pvallabhaneni commented on #347
verified the issue using 2.0.0018 plugin on Win 7 64bit/32bit. All the dialogs are asper the color schema of VS2012

[2014-02-06 15:24] #347 closed, assigned to nobody

[2014-02-06 15:32] guarnold commented on #501
If the 10.2.0.1725 runtime is not installed, it is the expected behavior. You must download and install the 1725 runtime to be able to debug a project.

However, if you have already downloaded and installed the 10.2.0.1725 runtime and it asks to download it again, it means that your bbndk_vs folder is probably corrupt. There is a task to investigate what is causing this issue (#594).

To verify if

[2014-02-06 15:39] guarnold commented on #631
This is the expected behavior. Both pdebug and qconn processes are "protected" and you are not able to debug any of them from the simulator and the device too.

We could add some code to filter these processes from the process list to avoid this situation, however, the behavior is correct.

[2014-02-06 15:55] srinivas4912 commented on #219
It is not reproduced in VS2012/13 plugin from build 2.0.0018 on Win7 64/Win8.1 bit and verification successful.

[2014-02-06 16:27] guarnold commented on #219
As there is no instructions about how to reproduce this issue, we would like to know which steps did you take to verify it.

You should use the Configuration Properties and type the files/folders that should be excluded from the build process.

You can reach out to zadmarbella if you need more information about how to verify this issue.

For now, can you write the steps you took to verify this iss

[2014-02-06 16:56] srinivas4912 commented on #485
The deploy check box is selected/unselected in the Configuration Manager, found the output "Deploy: 1 succeeded, 0 failed, 0 skipped".
Verified using VS2013 plugin from build 2.0.0018 on Win8.1 bit.

[2014-02-06 17:03] srinivas4912 commented on #219
Steps i have followed while verifying issue:
Have a project Bullet that contains .rc files.
1. Open a project
2. Build -> Configuration Manager...
3. Select active solution platform as "BlackBerry"
4. Build the project
5. Right click on bullet.rc file -> Exclude from project
6. And going back to a Win32 Configuration

and verified there is no Bullet.rc file in Win32 configuration.

[2014-02-06 17:19] srinivas4912 commented on #463
It is verified using VS2013/12 plugin from 2.0.0018 on win 8.1 and Win7 64 bit and found as fixed.
user is not able to go through uninstall process while simulator is on.

[2014-02-06 17:19] #463 closed, assigned to nobody

[2014-02-06 18:53] guarnold commented on #279
There are some requirements to be able to use the open source scripts:
- have a version of the plugin installed (any of them)
- have the latest source code of the plugin downloaded from Github (from next branch).

Then you have to run the following two commands in this order:
1 - VSNDKPluginBuild.bat
2 - One of these (depending on the current VS version you are using):
- for VS2010 -> use VSNDKPlu

[2014-02-07 04:33] pvallabhaneni commented on #501
Application is working as per the above comments.

[2014-02-07 04:33] #501 closed, assigned to nobody

[2014-02-07 06:50] srinivas4912 commented on #522
Steps to Reproduce:
1. Installed the Visual Studio IDE to a non-default location on Win7 64 bit.
2. and after Installed VS2013 plugin from build 2.0.0018
3. It's created bbndk_vs folder and installed successful.
4. Open Visual Studio IDE.

Actual Result: User is unable to find the blackberry menu from IDE.
![image](https://f.cloud.github.com/assets/5992406/2107264/058e5eb6-8fc4-11e3-8031-e743d0dbe

[2014-02-07 09:33] srinivas4912 commented on #514
Steps to Reproduce:
1. Go to File > New > File... > XML File
We met followed error on Win8.1 using VS2013 plugin from 2.0.0018.
![image](https://f.cloud.github.com/assets/5992406/2108095/9fd9d6de-8fd9-11e3-9ba5-f97bab129e1a.png)
![image](https://f.cloud.github.com/assets/5992406/2108096/af74ee58-8fd9-11e3-8031-3cea612dc050.png)
We met followed error on Win7 32 using VS2012 plugin from 2.0.0018.
![

[2014-02-07 10:44] pvallabhaneni commented on #279
Verified on Win 7 64 bit using VS2012 , v2.0.0018 plugin, 10.1.0.4828 API and device containing 10.1.0.4828 OS. Able to build, deploy, debug a project after running the specified .bat files successfully.

[2014-02-07 11:46] srinivas4912 commented on #125
It is verified in VS2013 plugin from 2.0.0018 on Win8.1 and also verified in VS2012 plugin from 2.0.0018 on Win7 64 bit.
It is working fine and verification successful as per the above comments.

[2014-02-07 11:58] #125 closed, assigned to nobody

[2014-02-07 12:09] srinivas4912 commented on #140
This issue is not reproduced and verification is successful.
Verified using VS2012/13 plugin from 2.0.0018 on Win7 64 and Win8.1 64 bit.

[2014-02-07 12:09] #140 closed, assigned to nobody

[2014-02-07 12:31] srinivas4912 commented on #412
Pre-req: Unregister the signing keys

Steps to Reproduce:
1. Go to BlackBerry > Signing
2. Click on Register and Unplug the network cable

Actual Result: It is prompted to "Sign in to create and download your BlackBerry ID token" dialog and it is  an empty window.
![image](https://f.cloud.github.com/assets/5992406/2109605/44e04564-8ff3-11e3-8577-2cc66a17f71d.png)
Debug token creation fails with no

[2014-02-07 13:26] zadmarbella commented on #279
@guarnold We need to verify on a released version of the plugin which is for vs2010/12 and not just any. Also do we have uninstall instructions for when the user wants to install an officially released version of the plugin?

[2014-02-07 14:35] AndrewKnox commented on #279
Changed to P3 as per email discussion with Dave and Russell.

[2014-02-07 18:56] guarnold commented on #45
It might be completed after fixing issue #219. To be available in the next build.

[2014-02-07 18:59] guarnold commented on #458
This issue is related to issue #432, that was already fixed.

Fix will be available in the next build.

[2014-02-07 19:08] guarnold commented on #626
It might be fixed after fixing issue #432. Please, verify using the next available build.

[2014-02-07 19:28] guarnold commented on #319
A new EULA was added to the build (#164) and it doesn't seem to have character artifacts. Please verify.

Available in build 2.0.0018

[2014-02-07 19:31] guarnold commented on #630
Duplicate of #419.

[2014-02-07 20:19] guarnold commented on #628
Duplicate of issue #425.

[2014-02-10 05:48] srinivas4912 commented on #319
Verification successful, Verified EULA using VS2012/13 plugin from build 2.0.0018.

[2014-02-10 05:48] #319 closed, assigned to nobody

[2014-02-10 11:29] pvallabhaneni commented on #453
Visual Studio is crashing in the following scenario.
1. Unplug network connection
2. Turn on vs (used vs2012) on Win 7 64 bit using v2.0.0021
3. Select Blackberry->Settings->GetMore.
Following error message is shown.

![internet connection error](https://f.cloud.github.com/assets/5992422/2124590/f0f1a79e-9241-11e3-8331-7684b52231fe.png)
1. click OK button. Error message from visual studio is shown

[2014-02-10 14:55] guarnold commented on #485
That polish means that deploy option was not always checked by default. It was not a big issue because it could be checked later, but it would be better to be always checked by default.

There are two things to verify for this issue:
1 - if the deploy is checked by default;
2 - if the user can check/uncheck the deploy option.

There are three scenarios for verification:

a) open a BlackBerry proje

[2014-02-10 14:58] guarnold commented on #485
If this issue is not reproducible anymore in VS 2012 and 2013, please remove the Known Issue label before closing it.

[2014-02-10 15:09] pvallabhaneni opened #635 "[2.0.0021] Simulator is shown as installing without internet connection."
Steps to Reproduce:

1.Have internet connection enabled on the system.
2.Go to Blackberry->Settings->Get More.
3. API levels dialog is opened with the correct list of API levels in the available section.
4. Remove internet connection for the system.
5. Click on "Get Simulators" button.
6. "Simulators" dialog is opened with correct list of simulators available for downloading.
7. Select a simulator

[2014-02-10 16:17] srinivas4912 commented on #625
Verification successful using VS2012/13 plugin from build 2.0.0021 on Win 7 64 and Win 8.1

[2014-02-10 16:17] #625 closed, assigned to srinivas4912

[2014-02-10 16:27] zadmarbella commented on #522
This also fails on VS2012.
2.0.0021
Preq: Having vs2012 installed on a D: drive
1 Install the plugin using the installer automatically places it in the D: drive
2 Access Blackberry > Settings

Current Behaviour:
Error window appears and Setting Window doesn't appear
![plugininstalledinanotherdrive](https://f.cloud.github.com/assets/1478549/2127532/0095b950-9270-11e3-8699-eb6d30bf68b2.png)
Note: th

[2014-02-10 17:02] zadmarbella commented on #219
Verified on VS2013:
Preq: Modified the GoodCitizen project to place bbutil.c in a folder
set the Build Output to diagnostics to see ExcludedPath variable.
1. from the project properties VC++ Directories > Exclude Directories options place path to the folder/file to be excluded in the build that is needed for the project to build.
2. From the Property Page click Ok
3. Attempt to build

Current beha

[2014-02-10 23:40] guarnold commented on #635
Fix available in build version 2.0.0022.

[2014-02-10 23:40] guarnold commented on #453
Fix available in build version 2.0.0022.

[2014-02-11 12:57] srinivas4912 commented on #453
Verified and found as fixed using VS2013/12 from build 2.0.0022 on Win8.1/7 64 bit.

[2014-02-11 12:57] #453 closed, assigned to nobody

[2014-02-11 13:41] srinivas4912 commented on #321
It is reproduced on Win8.1 fresh machine.
Pre-req: 1. Have no JAVA installed
              2. Installed VS2013 plugin from build 2.0.0022

Steps to Reproduce:
1. Open Visual Studio 2013
2. Blackberry > Settings [When we click on Settings it is opening below dialog]
![image](https://f.cloud.github.com/assets/5992406/2136574/ce7c02e4-9314-11e3-8cbc-d2c015e1a7a3.png)

[2014-02-11 14:01] srinivas4912 commented on #321
It is reproducible on Win7 64 bit for the first time and on fresh machine while using VS2012 plugin from 2.0.0022.

[2014-02-11 14:20] dbrgss commented on #522
This SHOULD be refixed.   Sorry about sending it back.   It's hard for me to test as I don't have the ability to install Windows on a non-standard drive.

[2014-02-11 14:23] dbrgss commented on #321
Can you please verify the following for me.   In you Windows Environment Variables please  check to see if the PATH variable has a path set to the following:

C:\bbndk_vs\features\com.qnx.tools.jre.win32_1.6.0.43\jre\bin;

Also check to make sure that the path above exists on your computer and that in that directory there is a copy of javaw.exe

[2014-02-11 15:17] srinivas4912 commented on #321
Verified on both Win8.1 and Win7 64 bit machines for:
1. PATH exist in environment variables.
2. Javaw.exe is also exist on drive C:\bbndk_vs\features\com.qnx.tools.jre.win32_1.6.0.43\jre\bin.

[2014-02-11 15:23] dbrgss commented on #321
Can you please copy the PATH variable as is.. and paste it into the issue.

Is the PATH variable a User Variable.. or a System Variable...

[2014-02-11 15:40] srinivas4912 commented on #321
The PATH variable is a "User variable for User"
PATH : C:\bbndk_vs\features\com.qnx.tools.jre.win32_1.6.0.43\jre\bin
For the reference, below is the dialog copied from Win8.1 machine:
![image](https://f.cloud.github.com/assets/5992406/2138263/14d49b3a-9332-11e3-88a8-afd0434f240e.png)

[2014-02-11 15:43] dbrgss commented on #321
I notice that the path has two \  Not sure if this is the cause of the grief.   Can you please edit the PATH and remove the extra \

Also make sure there isn't any other extra \ in the rest of the path.

I am not sure if you need to restart windows for the environment variable to update or not.

[2014-02-11 16:01] srinivas4912 commented on #321
I will retest it on fresh machine again because after restart the system i didn't get java related error.

[2014-02-11 20:43] dbrgss commented on #522
There was not comment here...   Did this get retested and then sent back??

[2014-02-11 20:48] dbrgss commented on #219
This should be verifiable now...  if 522 passes verification

[2014-02-11 21:09] zadmarbella commented on #522
@dbrgss was this fix reverted in the new build 2.0.0022

[2014-02-11 21:20] dbrgss commented on #522
This issue should be fixed in version 2.0.0022.   If you uninstall and re-install with the new version... and try again this should work.   This fix ONLY fixes a non-default drive scenario....   IE..  You have installed Windows and then VisualStudio on a D, E, Or other drive letter.   The path after that needs to be standard.. IE XXX:\Program Files (x86)\Microsoft Visual Studio 11.0 where XXX is t

[2014-02-12 11:23] #628 closed, assigned to nobody

[2014-02-13 06:41] pvallabhaneni commented on #635
verified on Win 7 64 bit using v2.0.0022 plugin and settings message is shown with the following message:
"You are currently experiencing internet connection issue and cannot access the Update Manager server. Please check your connection or try again later."

Found as fixed.

[2014-02-13 06:41] #635 closed, assigned to nobody

[2014-02-13 06:47] #630 closed, assigned to nobody

[2014-02-13 06:52] pvallabhaneni commented on #532
Verified the issue using v2.0.0022 plugin on Win 7 64 bit and found as fixed.

[2014-02-13 06:52] #532 closed, assigned to nobody

[2014-02-13 07:17] pvallabhaneni commented on #430
Verified the issue using 2.0.0022 plugin on win7 64 bit and found as fixed in the following scenario.
1.  Installed plugin and registered the signing keys.
2.  Deployed debug tokens on to the device.
3.  debugged the project on the device.
4.  removed signing keys from BlackBerry > Signing > Click Unregister
5.  attempt to debug again.

Error message appeared as follows and project is not deployed

[2014-02-13 07:17] #430 closed, assigned to nobody

[2014-02-13 07:27] pvallabhaneni commented on #468
Verified the issue using 2.0.0022 plugin on Win 7 64 bit and found that spaces are added to description text and saved.Verified by closing the bar-descriptor.xml files and opening it again(spaces persist).

[2014-02-13 07:27] #468 closed, assigned to nobody

[2014-02-13 07:34] srinivas4912 commented on #485
This issue is not reprojducible in VS2012/13 from build 2.0.0022 on Win8.1 and Win7 64 bit.
As per the above comments, three scenarios are verified.

[2014-02-13 07:34] #485 closed, assigned to nobody

[2014-02-13 09:26] srinivas4912 commented on #145
Verified using VS2013/12 from build 2.0.0022 on Win8.1 and Win7 64 bit.
it is possible to see the name of the thread in threads window after hit a breakpoint.

[2014-02-13 09:26] #145 closed, assigned to nobody

[2014-02-13 09:30] pvallabhaneni commented on #461
As per #506, atleas one API level need to be downloaded to open a project. So by the time of creating the blackberry configuration, atleast one API level will be present. So, unable to create blackberry configuration with no API level installed. Verified using 2.0.0022 on win7 64 bit and found as fixed.

[2014-02-13 09:30] #461 closed, assigned to nobody

[2014-02-13 09:38] srinivas4912 commented on #328
Windows are not resizable and consistency is maintained.
Verified using VS2013/12 from build 2.0.0022 on Win8.1 and Win7 64 bit.

[2014-02-13 09:38] #328 closed, assigned to nobody

[2014-02-13 09:47] srinivas4912 commented on #361
This issue is verified using VS2013/12 plugin from build 2.0.0022 on Win8.1 and Win7 64 bit.
As per the comments, it is working as expected behavior.

[2014-02-13 09:47] #361 closed, assigned to nobody

[2014-02-13 09:54] srinivas4912 commented on #452
This issue is not reproduced, verified using VS2013/12 plugin from build 2.0.0022 on Win8.1 and Win7 64 bit.

[2014-02-13 09:54] #452 closed, assigned to nobody

[2014-02-13 10:11] pvallabhaneni commented on #132
Verified the issue on VS2012 and VS2013 using 2.0.0022 plugin and found as fixed. Project is built and deployed correctly after cleaning.

[2014-02-13 10:11] #132 closed, assigned to nobody

[2014-02-13 10:16] srinivas4912 commented on #249
It is verified using VS2013/12 plugin from 2.0.0022 on Win8.1 and found as fixed. when refreshing Attach to Process available process shows correctly with out any errors.

[2014-02-13 10:16] #249 closed, assigned to nobody

[2014-02-13 10:37] pvallabhaneni commented on #500
Verified using 2.0.0022 plugin. "C:\Users<userName>\AppData\Local\Research In Motion" is not found when plugin is installed.
When signing keys are registered and downloading BBID token following dialog is shown.
![bug](https://f.cloud.github.com/assets/5992422/2158867/ab7f3efa-949a-11e3-9b66-8951deb86d4c.png)
Able to get BBID token after installing BBLink.

[2014-02-13 11:04] srinivas4912 commented on #274
I followed below steps to verify:
1. Open Visual Studio 2013.
2. From BlackBerry > signing > Register.
3. Open "Sign in to create and download your BlackBerry ID token" dialog.
4. Input Username, Password fields and Sign In.
Actual Result: no security alert is shown and user is able to create BB ID token
![11](https://f.cloud.github.com/assets/5992406/2159032/bc208414-949d-11e3-94d6-0315fc9937f0.p

[2014-02-13 11:04] #274 closed, assigned to nobody

[2014-02-13 11:25] srinivas4912 commented on #253
Verified using VS2013/12 plugin from build 2.0.0022 on Win8.1 and Win7 64 bit and found as fixed.
able to Refresh attach to process list.

[2014-02-13 11:25] #253 closed, assigned to nobody

[2014-02-13 11:43] pvallabhaneni commented on #605
Hi Gustavo,

Reg: "Please, verify if this issue happens only in VS2012 32 bits. If yes, you can close it as duplicate of #604. If not, send more details about the used environment."

Yes, this issue is only found on VS 2012, Win 7 32 bit.  Verified using 2.0.0022 build plugin, warning message is not shown when device IP and password are not set and attach to process is opened.

#604 speaks about t

[2014-02-13 12:00] srinivas4912 commented on #321
Verified on Win8.1/Win7  VS2013/12 using v2.0.0022 plugin and found as fixed.
When we set PATH variable with "C:\bbndk_vs\features\com.qnx.tools.jre.win32_1.6.0.43\jre\bin;", no notification is shown.

[2014-02-13 12:52] pvallabhaneni commented on #432
Verified in the following scenario.
1. Installed VS 2012 and v2.0.0022 plugin.
2. Open Blackberry->Get More->Get Simulators
3. Install a simulator.
4. Click close when the simulator is being installed.
5. "Cancel Installation?" dialog appears.Click "Yes"

Simulators dialog is closed and Error message from Update Manager is shown above all the existing dialogs (Settings,API level).

[2014-02-13 12:52] #432 closed, assigned to nobody

[2014-02-13 13:02] pvallabhaneni commented on #626
As per the description in  #432, the issue is about the focus on update manager(update manager message box used to hide behind API level/Simulator dialog, now it is  shown on top of them)  which is fixed.

This issue (#626) is that the user is able to close the API level without closing update manager message box (which is above API level dialog).

verified using 2.0.0022 plugin on Win 7 64bit and

[2014-02-13 14:46] pvallabhaneni commented on #219
Verified on VS2012 using 2.0.0022 plugin.

Preq: Removed the bbutil.c file from source path and saved it in a folder on desktop.
set the Build Output to diagnostics to see ExcludedPath variable.

1.From the project properties VC++ Directories > Exclude Directories options place path to the folder/file to be excluded in the build that is needed for the project to build.
2.Attempt to build

Actual R

[2014-02-13 14:53] dbrgss commented on #219
Just for clarification... You are stating above that the fix was verified.. correct??

[2014-02-13 14:55] dbrgss commented on #219
Just so you know...  in the above test.. if you exclude the bbutil.c file from the project.. then the build WILL fail... as this file is required.

[2014-02-13 15:21] guarnold commented on #219
You don't have to remove the file / folder (or move to a different location) . All you have to do is to add the files / folders in the "excluded folder" property. These files could not be used in the build process.

[2014-02-13 15:35] dbrgss opened #637 "Installer: Ability to install the Visual Studio Plugin when Visual Studio is installed to a non-default location on the users PC."

[2014-02-13 15:38] dbrgss commented on #522
Updated the issue description to be more specific.   This issue is concerned only when Visual Studio is installed to a non-default root drive.  For example trying to install to a F: drive.   The ability to install to a non-default installation of Visual Studio has been added as a related Task.

[2014-02-13 15:41] guarnold commented on #219
Steps:

1 - Use the GoodCitizen project.
2 - set the Build Output verbosity to diagnostics.
3 - from the project properties VC++ Directories > Exclude Directories options add the folder/file path that should be excluded from the build (in this case, bbutil.c).
4 - From the Property Page click Ok
5 - Build the project.

Expected behaviour:
a - The build fails due to excluded file/folder
b - Go to t

[2014-02-13 15:58] pvallabhaneni commented on #219
We followed the above steps:
a) Found that project build is failed.
b) Found the reference of the excluded file in the output window.

Working as per the above comments.

[2014-02-13 16:18] dbrgss commented on #626
For better clarification.. can you please attach screen shots of the dialogs in question??

[2014-02-13 16:20] dbrgss commented on #605
Removing Recommend Closure and Not an Issue flags.. Will retest...

[2014-02-13 16:46] srinivas4912 commented on #522
Windows OS installed on "C" drive.
As per the above comments we have created the following folder structure.
D:\Program Files (x86)\Microsoft Visual Studio 11.0

Installed Visual studio in the above created folder structure

Plugin is installed from the plugin installer. "bbndk_vs" folder is found in "C" drive (C:\bbdnk_vs).

Blackberry menu is not visible from Visual studio IDE.

Is this the corr

[2014-02-13 17:30] dbrgss commented on #522
Can you please do the following:

Make sure that Visual Studio is closed.

Browse to the following directory... from a CMD prompt

C:\Program Files (x86)\Microsoft Visual Studio 11.0\Common7\IDE

Run the following command:

devenv.exe /setup

Rerun Visual Studio...   You should see the BlackBerry menu

[2014-02-13 17:55] srinivas4912 commented on #522
Run the below command:
devenv.exe /setup and it is executed.
BlackBerry menu is still not visible from Visual Studio IDE.

[2014-02-14 09:50] srinivas4912 commented on #522
Verification failed using VS2012 plugin from v2.0.0022 on Win7 64 bit.

Followed the below steps to verify the issue:
1. Windows is installed in "C" drive
2. Installed Visual Studio 2012 in "D" drive IE.. D:\Program Files (x86)\Microsoft Visual Studio 11.0
3. Installed VS2012 plugin and "bbndk_vs" folder is found in "C" drive (C:\bbdnk_vs).
4. Browse to the following directory... from a CMD prompt

[2014-02-14 12:00] pvallabhaneni opened #638 "[2.0.0022] Values in Add Watch window are not updating until a new variable is added."
Preq:
System OS: Win 7 64 bit
VS Version: VS2012
Device OS: 10.2.0.1809
API level : 10.2.0.1155
Runtime: 10.2.0.1809
Plugin: v2.0.0022

Steps to Reproduce:

1. Set a break-point at 2 places just before the variables are initialized and after initialization as follows.
![1](https://f.cloud.github.com/assets/5992422/2170534/285de6b8-956f-11e3-8742-aa6297020069.PNG)

2. Press Shift+F9 or open Quick w

[2014-02-14 13:05] pvallabhaneni commented on #144
Verified on Win 7 64 bit using 2.0.0022 plugin. Debugged a multi-thread project and hit a break-point. Double clicked on main thread, "No source Available" tab is not opened. Verification Passed.

[2014-02-14 13:05] #144 closed, assigned to nobody

[2014-02-14 14:06] dbrgss commented on #522
Downgraded to a P3 as issue is now considered an edge case.

[2014-02-14 14:50] pvallabhaneni commented on #346
Verified using 2.0.0022 version plugin on Win 7 64bit with VS2012 and found that issue is reproducing.

[2014-02-17 07:21] srinivas4912 commented on #131
Passed verification using plugin VS2013 from v2.0.0022 on Win8.1 uisng Astro device with OS 10.2.1.1925 and found as fixed.

[2014-02-17 07:21] #131 closed, assigned to nobody

[2014-02-17 07:37] pvallabhaneni commented on #622
Verified the issue on Win 7 64 bit using v2.0.0022 plugin and VS2012 and found as fixed. Verification passed.

[2014-02-17 07:37] #622 closed, assigned to nobody

[2014-02-17 08:37] srinivas4912 commented on #487
Passed verification using VS2013/12 plugin from v2.0.0022 on Win8.1/Win7 64 bit and found as fixed.

[2014-02-17 08:37] #487 closed, assigned to nobody

[2014-02-17 09:53] pvallabhaneni opened #639 "[2.0.0022] Nothing is happening when debug token dialog is opened without device IP set."
OS - Win 7 64 bit
Plugin version - 2.0.0022

Steps to Reproduce:
1. Install the plugin
2. Goto Blackberry->Settings
3. Remove the device IP address (which is set by default during plugin installation)
4. Goto Blackberry->Debug token

Actual Result: Nothing is happening. Neither an error is shown nor the debug toke n dialog is opened. Even processing is not shown in the cursor as per #487

[2014-02-17 10:21] srinivas4912 commented on #639
In VS2013 on Win8.1 system, above issue is reproducible using 2.0.0022 plugin.

I continued the below steps after the 4th steps in above scenario.
1. Go to Blackberry->Settings
2. Add IP address and password for the device
3. Go to Blackberry->Debug token

Actual Result: Below error message is shown.
![bug](https://f.cloud.github.com/assets/5992406/2184285/156275c4-97bd-11e3-8a03-f83cdf4eea23.png)

[2014-02-17 10:58] srinivas4912 commented on #464
This issue is still reproduced using VS2013 plugin from v2.0.0022 on Win8.1, when I followed below steps:
Once Simulator uninstallation completes click on close and open Get Simulators dialog.
The list of simulators is not shown as in the above screenshot.

Verification failed. Removed "Completed" label and changed the milestone to "Triage".

[2014-02-17 12:38] pvallabhaneni opened #640 "[2.0.0022] Able to close Simulator dialog while installing a simulator without any prompt Intermittently."
OS - Win 7 64 bit
Plugin version - 2.0.0022

Steps to Reproduce:
1. Install a simulator.
2. Once simulator is installed status is shown as "complete"
3. Install another simulator.
4. Status is shown as "installing"
5. Click "close" button.

Actual Result: Able to close the simulator dialog immediately without any prompt. Same behavior is observed when an error is occurred during the installation o

[2014-02-17 13:04] pvallabhaneni opened #641 "[2.0.0022] Adding same image multiple times is not saved in bar-descriptor.xml"
OS: Win 7 64 bit / Win 8.1 64bit
Plugin : 2.0.0022
VS version : VS2012 / VS2013

Steps to Reproduce:
1. Install the plugin and open a project in visual Stiudio.
2. Open bar-descriptor.xml file
3. Add an image to Icon and Splash Screen in Appearance Section.
4. Add the same image multiple times to both Icon and Splash Screen in Appearance Section.
5. Save the file (CTRL + S)
6. Observe that the fil

[2014-02-18 09:30] pvallabhaneni opened #642 "[2.0.0022] Update Manager dialog is not shown everytime when close the API Level/Simulator dialogs while downloading is in progress."
Pre-requisite:
System OS: Win 7 / Win 8.1
Plugin version : v2.0.0022
VS version : VS2012 / VS2013

Steps to Reproduce:
1. Install Visual Studio and NDK plugin on a fresh machine.
2. Open Settings dialog and click GetMore.
3. API Level dialog opens and install an API level.
4. Click "Close" while API level is downloading.
5. Cancel Installation dialog appears asking "Are you sure you want to cancel

[2014-02-18 10:56] pvallabhaneni commented on #321
Issue is reproducing in the following scenario.
Preq:
System OS - Win 7 64 bit
VS Version :VS2012
Plugin Version : 2.0.0022

Scenario 1:
1. Install Visual Studio and NDK plugin on fresh machine.
2. Open Blackberry->Signing.

Actual Result: Error message (Eclipsec) is shown. This is happening only once and if error message is closed and open the settings again nor error message is shown.
Note: Envi

[2014-02-18 12:23] pvallabhaneni commented on #45
Verified on Win 7 64 bit using VS2012 and v2.0.0022 plugin. The properties set in "Blackberry" configuration is not visible in Win32 environment and viceversa.

Verification passed.

[2014-02-18 12:23] #45 closed, assigned to dbrgss

[2014-02-18 12:32] guarnold commented on #642
That dialog must be shown almost every time you cancel the API level/simulator download.

It should not be shown only when the installation is completed successfully. That can happen when you close the window at the final steps of the installation or when you take a long time to click yes, to acknowledge the cancellation. It is possible that the installation was completed, because the download/ins

[2014-02-18 13:00] pvallabhaneni commented on #642
Closed the API Level / Simulator dialog immediately after starting the installation. Did not wait until the installation is completed. Still the above dialog is not shown (intermittently).

Assigning back to Triage.

[2014-02-18 13:26] pvallabhaneni opened #643 "[2.0.0022] installer detects if java is installed on the machine to and notify user if not"
Preq:
System OS - Win 7 64 bit
VS Version :VS2012
Plugin Version : 2.0.0022

Scenario 1:
1. Install Visual Studio and NDK plugin on fresh machine.
2. Open Blackberry->Signing.

Actual Result: Error message (Eclipsec) is shown. This is happening only once and if error message is closed and open the settings again nor error message is shown.
Note: Environmental Variables are not modified at any of t

[2014-02-18 13:29] pvallabhaneni commented on #321
Closing this issue and created a new issue #643 .

[2014-02-18 13:29] #321 closed, assigned to nobody

[2014-02-18 15:06] dbrgss commented on #643
Please to do the following..

1) Uninstall the plugin... restart Windows
2) Install the plugin... Do not restart Visual Studio right away... Check the Environment Variables for the Path. (Paste into issue as a comment)
3) Restart Windows
4) Start Visual Studio and the Signing Dialog.

[2014-02-18 15:35] dbrgss commented on #641
Sorry closed accidentally.. re-opening.

[2014-02-18 15:38] pvallabhaneni commented on #643
1. Un-installed the plugin and restarted the Windows system
2. Installed the plugin. Set the Environmental Variable for the path.
   Path variable : C:\bbndk_vs\features\com.qnx.tools.jre.win32_1.6.0.43\jre\bin
3. Restarted the Windows system
4. Opened Signing Window

Error message is not shown.

[2014-02-18 15:41] dbrgss commented on #643
Okay.. it appears that the Path variable being set in the installer is NOT being refreshed globally until a system restart.  Although annoying I don't believe this needs to be fixed in this release.  P3 Level is appropriate.

[2014-02-18 15:49] pvallabhaneni opened #644 "[2.0.0022] Statements are not evaluated correctly in immediate window."
Pre:
System OS: Win 7 64 bit
VS Version : VS2012

Steps to Reproduce:
1. Create a function that returns a value.
2. Debug the project with a break-point in that above function.
3. Enter the function with correct parameters and press enter.

Actual Result: Value of the statement is not evaluated correctly.
Following is shown after pressing Enter.
"The program being debugged stopped while in a funct

[2014-02-18 16:00] #254 closed, assigned to nobody

[2014-02-18 16:00] dbrgss commented on #607
Closing as this is a duplicate

[2014-02-18 19:16] guarnold commented on #279
There is a script to uninstall the plugin (VSNDKPluginUninstall.bat).

Could you verify the Uninstall script and check if the plugin files are removed, as well as the bbndk_vs folder?

It is recommended to uninstall the installed plugin before installing a new officially released version.

[2014-02-19 07:10] pvallabhaneni commented on #626
Following behavior is observed in v2.0.0018 plugin.
1. Install VS2012/VS2013 and NDK plugin on win 7 64 bit.
2. Go to Blackberry->Settings->Get More->Get Simulators
3. Install a simulator.
4. Clcik "Close" while installation is in progress.
   5."Cancel Installation?" dialog appears.Click "Yes"

Update Manager dialog is shown behind the API level dialog as shown below.

![1](https://f.cloud.github

[2014-02-19 07:16] pvallabhaneni commented on #458
Verified the issue in Win 7 64bit using VS2012 and v2.0.0022 plugin.
Other application are not obstructed by Simulator and Update Manger windows.
Verification Passed. Closing the issue.

[2014-02-19 07:16] #458 closed, assigned to nobody

[2014-02-19 08:19] srinivas4912 opened #645 "[2.0.0022] Unable to maximize and minimize browser window while creating debug token"
1. From BlackBerry > Signing > Register
2. Input username, password fields and click on Sign In
3. It is prompting to "sign in to create and download your Blackberry ID token"  window

Actual Result: 1. minimize is disabled and maximize button is enabled
2. when clicked on maximize button window is not auto adjusting to the screen.
![browser1](https://f.cloud.github.com/assets/5992406/2204510/914b

[2014-02-19 09:33] pvallabhaneni commented on #279
Installed the bellow scripts
1 - VSNDKPluginBuild.bat is installed
2 - for VS2012 -> VSNDKPluginSetupVS2012.bat is installed.
     Observed that "bbndk_vs" folder is placed in "C" drive.
3 - Open Visual Studio 2012
4 - "Blackberry" menu is not visible.

Note: Tried the scenario suggested in the bug #522 to run devenv.exe / setup in command prompt and opened the visual studio. Still Blackberry menu

[2014-02-19 10:34] pvallabhaneni opened #646 "[2.0.0022] Simulators are downloaded even if user cancels downloading."
Preq:
System OS : Win 7 64 bit
VS Version: VS2012/VS2013.

Steps to Reproduce:
1. Install VSNDK plugin and VS2012/VS2013 on a fresh machine.
2. Open Visual Studio.
3. Go to Blackberry->Settings->Get More->Get Simulators.
4. Install a simulator.
5. Click on Close on simulator dialog.
6. Prompt appears asking if user wants to cancel the installation.
7. Click "Yes"
8. Simulators dialog is closed and

[2014-02-19 11:25] pvallabhaneni opened #647 "[2.0.0022] Visual Studio is not responding when wrong condition is set for conditional break-point."
Preq:
System OS: Win 7 64bit
VS version : VS2012
API level :

Steps to Reproduce:
1. Create a conditional break-point with the condition as "if(i == 10)" at a valid statement.
2. Debug the project.

Actual Result: Visual Studio is not responding for longer time.

Try to add a new break-point in the same function.
Observed that break-point is not added and cursor is shown as processing.

Click anyw

[2014-02-19 11:28] pvallabhaneni commented on #647
Radio button "Is True" is selected in both the cases (Blackberry and Win 32) while creating the conditional break-point.

[2014-02-19 13:12] pvallabhaneni opened #648 "[2.0.0022] "break when the hit count is multiple of" is not working correctly."
Preq:
Win OS: Win 7 64 bit
VS Version: VS2012

Steps to Reproduce:
1. Set a break-point that breaks "when the hit count is multiple of".
2. Debug the project.

Actual Result: Observe that debugging is breaking even though the hit count condition is not satisfied.
![bug](https://f.cloud.github.com/assets/5992422/2206710/5be0ee8a-9967-11e3-8fe4-b695593892fa.png)

In Win 32, Observed that the debuggi

[2014-02-19 13:23] pvallabhaneni opened #649 "[2.0.0022] "break when hit count is greater than or equal to" is nor working correctly."
Preq:
Win OS: Win 7 64 bit
VS version : VS2012

Steps to Reproduce:
1. Set a break-point with hit count condition set to "break when the hit count is greater then or equal to " and give some value.
2. debug the project.

Actual Result: Observe that the debugging is halt even if the break-point condition for hit count is not met.
![111111](https://f.cloud.github.com/assets/5992422/2206786/fb3f7ad6-

[2014-02-19 13:42] dbrgss commented on #649
Does this behavior reproduce for all of the conditions??  Or just the greater than or equal to.

[2014-02-19 13:45] pvallabhaneni commented on #649
It is not working for "greater than or equal to" and for "when hit count is multiple of". the condition when hit count is equal to" is working fine.

[2014-02-19 13:57] srinivas4912 opened #650 "[2.0.0022] Checking one "public" checkbox and setting "type" of one asset is reflected for all assets."
Preq: Install VS2013 plugin from v2.0.0022 on Win8.1
1. Open bar-descriptor.xml file
2. From Asset Configuration, select "Device-Debug"
3. Browse to the output directory file and locate the File that was just built & Select it
4. Repeat the step 3 for 4 times
5. Click on any one check box from Assets

Actual Result:
1. When we check one of the check box from "Public" column, all checkboxes are bei

[2014-02-19 14:04] dbrgss commented on #650
Cannot reproduce this issue.   When in step 4 you are repeating and adding more assets...  are you choosing different files??

[2014-02-19 14:23] AndrewKnox commented on #647
When you say "Actual Result: Visual Studio is not responding for longer time." Can you indicate how long it takes to respond?

[2014-02-19 14:31] srinivas4912 commented on #650
No, choosing same file from the same project and it is reproducing using VS2012 plugin from v2.0.0022 also.
Adding VS 2012 label.

[2014-02-19 14:45] pvallabhaneni commented on #647
Waited for more than 5 minutes for visual studio to respond. Visual studio did not respond and tried to add a break-point.

[2014-02-19 14:45] srinivas4912 commented on #650
I'm able to add same asset file multiple times, is it expected behavior?

[2014-02-19 14:48] AndrewKnox commented on #647
Just to further clarify - VS froze (i.e. did not respond) - which is equivalent to crashing.

[2014-02-19 14:55] dbrgss commented on #650
Well it's expected as there is no validation on files being added into the Assets.    That being said... it makes no sense to add the same asset more than once.   The behavior makes more sense now though... as when you click a check box... the code is going through and checking all entries with the same name.  Assigning P-Value of 3

[2014-02-19 18:54] guarnold commented on #649
Please, have a look at the gdb-output.log file and verify how many times that breakpoint was hit (search for breakpoint-modified and look at the value in "times".).

Also, create a counter variable (int count = 0;) and add an instruction that increments its value by 1 before the breakpoint, and verify if the value of this variable is 1 or 3 when the breakpoint is hit.

I believe that the "current

[2014-02-19 18:55] guarnold commented on #648
Please, have a look at the gdb-output.log file and verify how many times that breakpoint was hit (search for breakpoint-modified and look at the value in "times".).

Also, create a counter variable (int count = 0;) and add an instruction that increments its value by 1 before the breakpoint, and verify if the value of this variable is 1 or 3 when the breakpoint is hit.

I believe that the "current

[2014-02-19 19:42] zadmarbella opened #651 "[2.0.0022] able to import projects that include default project build properties"
Preq: empty win32 project
1. import Blackberry Native Core Project
2. open Project Properties
3. Switch to Blackbery Configuraion

current behaviour:
expected default properties are not selected.
ie. Configuration Properties > General > Platform tool set  is not qcc
VC++ Directories do not include default executable directories.
etc.

Workaround:
user has to go through and find default properties

[2014-02-19 23:42] guarnold commented on #649
I am unable to reproduce this issue using VS 2013 and 2012.

To verify the hit counts, just open the breakpoints window: Debug -> Windows -> Breakpoints

Please, verify it again. If this issue is still reproducible, create a counter variable (int count = 0;) and add an instruction that increments its value by 1 before the breakpoint. Then, verify if the value of this variable is 1 or 3 when the br

[2014-02-19 23:43] guarnold commented on #648
I am unable to reproduce this issue using VS 2013 and 2012.

To verify the hit counts, just open the breakpoints window: Debug -> Windows -> Breakpoints

Please, verify it again. If this issue is still reproducible, create a counter variable (int count = 0;) and add an instruction that increments its value by 1 before the breakpoint. Then, verify if the value of this variable is 1 or 3 when the br

[2014-02-19 23:49] guarnold commented on #647
This issue is reproducible in VS 2013 only when the conditional breakpoint is set before starting the debug session.

In case the condition is set after start debugging, this issue is not reproducible. Anyways, no message is presented to the user to let him know that the condition is invalid. The behavior, in this case, is that the breakpoint will work as a normal one, breaking the debug session e

[2014-02-20 06:59] pvallabhaneni commented on #219
As per Zad mail, since functionality of excluding files in Blackberry is not similar to that of in Win 32.

Blackberry Environment : Verified the issue by adding the path of the main.C file in Project Properties -> Configuration Properties -> VC++ Directories -> Exclude Directories” as shown in the below image and re-building the project.

 ![11](https://f.cloud.github.com/assets/5992422/2215823/6

[2014-02-20 12:27] dbrgss commented on #607
Reopening... closed in error

[2014-02-20 12:43] dbrgss commented on #647
After reading the above comments I am downgrading he severity of the issue to a P3

[2014-02-20 12:45] pvallabhaneni opened #652 "[2.0.0022] Title of the same error message is shown differently at different instances."
Preq:
Win OS: Win 7 64 bvit / Win 8.1 64 bit
API Level : 10.2.0.1155
Device OS: 10.2.0.1809
VS version : VS2012 / VS2013

Steps to Reprouduce:
1. Have a back-up of a set of signing keys (A).
2. Register with another set of signing keys (B).
3. Open Signing window.
4. Observe that signing keys are registered (Register button is disabled, Un-register button is disabled).
5. Click "Restore" button.
6

[2014-02-20 12:47] dbrgss commented on #219
Need clarification... are you using the same application code in both the 64 and 32 bit windows configurations..

[2014-02-20 12:49] dbrgss commented on #219
Downgrading severity to a P3.  In the majority of cases developers will be running a 64 bit version of Windows 7 or Windows 8.1.   A 32 bit version is an edge case.

[2014-02-20 12:51] pvallabhaneni commented on #219
Verification is done on Windows 7 64 bit only.

[2014-02-20 13:03] pvallabhaneni opened #653 "[2.0.0022] Able to close the API level dialog without any prompt while downloading second API level."
Preq:
Win OS: Win 7 64 bit / Win 8.1 64 bit.
VS Version : VS2012/VS2013

Steps to Reproduce:
1. Go to Blackberry->Settings-> Get more...
2. Download an API level.
3. Once downloading is complete, install another API level without closing the API level dialog.
4. Close API level dialog while downloading is in progress.

Actual Result: API level dialog is closed without any prompt from update manage

[2014-02-20 13:05] dbrgss commented on #219
Okay I understand what you are doing now.  I don't think this is a valid exception though.  We already know that the build process is different between Win32 and  BlackBerry... To say something is wrong when it works one way in BlackBerry and another in Win32 is not necessarily surprising...  The problem is we don't know what logic VisualStudio has put behind the scenes when compiling a Win32 proj

[2014-02-20 14:36] pvallabhaneni commented on #648
Verified on a fresh machine and found as working fine. Functionality is similar to that of in Win 32 project debugging.

[2014-02-20 14:36] #648 closed, assigned to guarnold

[2014-02-20 14:37] pvallabhaneni commented on #649
Verified on a fresh machine and found as working fine. Functionality is similar to that of win 32 debugging. Not reproducing.

[2014-02-20 14:37] #649 closed, assigned to guarnold

[2014-02-20 15:45] AndrewKnox commented on #146
Not an issue - closed.

[2014-02-20 15:45] #146 closed, assigned to nobody

[2014-02-20 15:46] AndrewKnox commented on #101
Issue no longer relevant to current version - closed.

[2014-02-20 15:46] #101 closed, assigned to nobody

[2014-02-20 15:47] AndrewKnox commented on #108
Zad - issue #23 is now closed - can you verify now?

[2014-02-20 15:54] zadmarbella commented on #108
@AndrewKnox  this issue looks to be related to this task #222

[2014-02-21 08:56] pvallabhaneni commented on #415
Verified on Win 7 64bit using 2.0.0022 plugin / VS2012 following above steps.

Exclude Directories option is missing from the list of available options, when configuration manager platform is changed to simulator.

Re-opening the issue. Removing "Completed" and "Verification Passed" tags. Re-assigning to "triage"

[2014-02-21 12:26] dbrgss commented on #415
Please re-verify...  Tried it hear and the Exclude Directories do appear.

[2014-02-21 12:52] pvallabhaneni commented on #415
As per the discussoin with Zad, Value of the option is not visible which is platform dependent. The VC++ Directories option is visible. It seems working fine as per the functionality.

[2014-02-21 12:52] #415 closed, assigned to zadmarbella

[2014-02-21 14:38] srinivas4912 commented on #638
Encountered the same issue in  Win8.1/OS 10.2.1.1925/VS2013/2.0.0022  on Astro device.

Adding VS 2013 label.

[2014-02-21 15:27] srinivas4912 commented on #643
Encountered the same issue in Win8.1/OS 10.2.1.1925/VS2013/2.0.0022 on Astro device.

Adding VS 2013 label.

[2014-02-21 15:50] srinivas4912 commented on #640
Encountered the same issue in Win8.1/OS 10.2.1.1925/VS2013/2.0.0022 on Astro device.
the above same steps followed while installing API levels and Simulators:
1. we are able to close API levels dialog while installing a API level without any prompt
2. we are able to close Simulator dialog while installing a simulator without any prompt

Adding VS 2013 label.

[2014-02-26 14:42] dbrgss commented on #431
Plugin no longer accesses API levels from momentics.

[2014-02-26 14:42] #431 closed, assigned to nobody

[2014-02-26 14:43] dbrgss commented on #426
No longer can see API Levels installed by Momentics...

[2014-02-26 14:43] #426 closed, assigned to nobody

[2014-02-26 14:44] dbrgss commented on #424
Can no longer see API Levels installed by Momentics..

[2014-02-26 14:44] #424 closed, assigned to nobody

[2014-02-26 14:45] dbrgss commented on #416
There is a build indicator in the bottom tray of Visual Studio...

[2014-02-26 14:45] #416 closed, assigned to nobody

[2014-02-26 14:49] #169 closed, assigned to nobody

[2014-02-26 14:49] #503 closed, assigned to nobody

[2014-02-26 14:49] #506 closed, assigned to nobody

[2014-03-30 14:52] MrKaktus opened #655 "[2.0.0022] VS2013 - Plugin "API Levels" window not visible on any taskbar!"
When opening VS2013 Solution first time after installing BB VS2013 Plugin, I see "API Levels" window popup that says:

Please choose your default API Level to be used by the Visual Studio Plug-in:
o BlackBerry Native SDK 10.0
o BlackBerry Native SDK 10.1
o BlackBerry Native SDK 10.2
[Close][Install]

This windod pop-ups during "Preparing Solution..." stage and it is not visible on any taskbar! Thi

[2014-03-30 14:55] MrKaktus opened #656 "[2.0.0022] VS2013 - No option to select 10.2 NDK !"
When opening VS2013 Solution first time after installing BB VS2013 Plugin, I see "API Levels" window popup that says:

Please choose your default API Level to be used by the Visual Studio Plug-in:
o BlackBerry Native SDK 10.0
o BlackBerry Native SDK 10.1
o BlackBerry Native SDK 10.2
[Close][Install]

After selecting option 10.2, but hitting [Close] or X window button to cancel operation this time,

[2014-03-30 15:00] MrKaktus opened #657 "[2.0.0022] VS2013 - SDK installation is not finishing correctly !"
When opening VS2013 Solution first time after installing BB VS2013 Plugin, I see "API Levels" window popup that says:

Please choose your default API Level to be used by the Visual Studio Plug-in:
o BlackBerry Native SDK 10.0
o BlackBerry Native SDK 10.1
[Close][Install]

Selecting for e.g SDK 10.0 and clicking [Install] starts SDK installation process, that when finished, displays only text "Comp

[2014-03-30 16:51] MrKaktus commented on #657
INVESTIGATION:
It looks that even though you cannot choose installation destination for plugin (and it always installs at: C:\bbndk_vs ), when you download given SDK level ( for e.g. 10.0 ) during starting of some solution, QCONFIG dir for this API level is created in root dir of the driver where given solution lays and not in the C:. As a results installed API's are not seen.

Example:
H:\Engine\

[2014-03-31 17:33] guarnold commented on #655
Workaround 2: You can also use Alt+Tab keys and look for the VS session. The API Level window will appear on top of the VS session after using the Alt+Tab keys.

[2014-03-31 19:21] guarnold commented on #657
1 - About your last comment: Visual Studio Plug in is completely detached from Momentics IDE. So, you don't need to install Momentics to download NDK.

2 - What might be happening to you is that the bbndk_vs folder might be corrupted. There is an issue to investigate what is causing this problem (#594). Whenever you install an NDK but you cannot see it, that's because the folder is corrupt (it was

[2014-03-31 19:24] guarnold commented on #655
This issue is reproducible and we are going to investigate it.

[2014-03-31 19:29] guarnold commented on #656
As issue #657, the bbndk_vs folder might be corrupted. Maybe cancelling the initial installation may  have caused that corruption. We are going to investigate that.

A workaround to fix this problem:

I - close Visual Studio;
II - delete the bbndk_vs and qconfig folders completely.

Then you can use VS normally (don't forget to install an NDK without cancelling the initial API level installation).

[2014-04-02 17:28] MrKaktus opened #658 "[2.0.0022] VS2013 - Including files not taking into notice Additional Include Path"
Reproduction steps:

Solution Dir:
include
include > core
include > core > context.h
include > defines.h

In Solution's Project Properties:
Additional Include Directories: "./include/"

In context.h:
# include "./../defines.h"       // Works
# include "defines.h"            // Doesn't work, and it should by resolving to AID param

It looks like plugin is searching only in local dir.

[2014-04-03 14:07] dbrgss commented on #658
Okay so this actually seems to be working for me.  If you try your test again.. can you please post up the qcc commands displayed in the Output window in the Link: section.

[2014-04-04 18:04] dbrgss commented on #658
So I had one of our testers run through this.   It appears that adding the include path to the Additional Include Directories works in as far as it allows the project to build.  Our testers found though, that intellisense does not work, unless you specify the path like you stated above.. "../../defines.h"

Is this what you were experiencing as well??

[2014-04-06 14:19] MrKaktus commented on #658
I've restarted the PC, cleaned whole solution and now it compiles, I cannot reproduce it anymore. Bug can be closed, sorry for trouble.

[2014-04-06 14:20] #658 closed, assigned to nobody

[2014-09-24 18:26] zadmarbella opened #665 "[2.0.0022] unable to debug on 10.2.1 simulator on vs2012"
The app looks to launch but the gdb connection times out.

[2014-09-24 19:57] phofman commented on #665
Did you tested it against such an old code - tag 2.0.0022? or I just don't understand issues naming convention. If you try PH-v1.7.0 (phofman/vs-plugin@60978dd165e36fb479654ae4a8b4c7a30158693d), what is under review as #664 - all works perfectly.

[2014-09-24 20:26] zadmarbella commented on #665
Released version 2.0.0022 (build number) of the plugin for VS2012.

[2014-09-24 20:44] phofman commented on #665
Great, thanks. Just hope it will lead to quicker v3.0 release.

[2015-01-14 13:12] hkopparru commented on #656
in [3.0.0001] VS 2013 windows 7 i couldn't find this issue, where i am able to install,uninstall and abort successfully for 10.3 and 10.2 as well
But ndk installation for 10.0 and 10.1 is not finishing successfully and tracking this in #657.
so i am closing this issue.

[2015-01-14 13:12] #656 closed

[2015-01-14 13:18] hkopparru commented on #657
found this issue in [3.0.0001] VS 2013 Windows 7, when i try to install the 10.0 and 10.1 ndks then its started installation successfully but after some time the installation got stopped(nothing is currently executing)

[2015-01-14 13:45] hkopparru commented on #653
[3.0.0001] VS 2013 Windows 7, the API level window UI got changed, where we can see the status of current and pending installations. so there is no effect if you close the API level dialog here.

[2015-01-14 13:52] phofman commented on #653
What is the code base you are using? I don't see tag 3.0.0001. Is this the latest from this repo?

[2015-01-14 13:58] hkopparru commented on #653
i have tested this on new plugin 3.0.

[2015-01-14 14:00] hkopparru commented on #653
that's the plugin version 3.0.0001

[2015-01-14 14:22] phofman commented on #653
OK, I see tag, 3.0.0003 and was just wondering. In that case, download status is on API-Levels tab in Tools -> Options -> BlackBerry. But could you ask Dave, if you guys want the latest code and if he will merge them from my fork? I fixed lots of stuff being 210 commits ahead. Why to double your work...

[2015-01-16 05:47] hkopparru commented on #653
closing this issue

[2015-01-16 05:47] #653 closed

[2015-01-16 09:32] hkopparru commented on #646
issue not reproduced in latest 3.0 plugin. closing this issue

[2015-01-16 09:32] #646 closed

[2015-01-16 11:16] hkopparru opened #668 "[3.0.0001] not able to remove the debug tokens from the device using the "remove" button which in "Debug Token Deployment" dialog"
Preq:
Win OS: Win 7 64 bit
VS version: VS2013

Steps to reproduce:

1. upload debug token onto the device using below
 a.  BLACKBERRY->options->Targets -> Upload Debug Token,
      "Debug Token Deployment" dialog opens then give the Debug Token file path which you have
Example: C:\Users\hkopparru\AppData\Local\Research In Motion\debugtoken-2015-01-16.bar

b. press upload button, upload successfull

[2015-01-16 11:18] hkopparru commented on #652
retry and renew options are removed from the 3.0 plugin. so the problem is not reproduced here and here we can successfully upload the debug tokens from back up or restore packages

so closing this issue.

[2015-01-16 11:18] #652 closed

[2015-01-16 11:47] hkopparru commented on #655
in the new plugin 3.0 the API level UI window got changed. tested looks fine.

closing this issue

[2015-01-16 11:47] #655 closed

[2015-01-16 11:52] hkopparru commented on #645
not reproduced, here after clicked on maximize button then the window is adjusting to the screen. no issues here.

closing this issue

[2015-01-16 11:52] #645 closed

[2015-01-16 11:56] hkopparru commented on #624
in new plugin 3.0 Escape button is working fine to close the BlackBerry Settings dialogs.

[2015-01-16 12:02] hkopparru commented on #616
issue is not reproduced with new 3.0 plugin. closing this issue now.

[2015-01-16 12:02] #616 closed

[2015-01-16 12:32] hkopparru commented on #620
in 3.0 plugin the issue is not reproduced, where if you click on "Set from Debug Token button" button then it will open a window for selecting .bar file, where you can select the bar file if you have.

closing this issue now.

[2015-01-16 12:32] #620 closed

[2015-01-16 12:40] hkopparru commented on #639
in 3.0 plugin the UI got changed for this.
1. without the ip address you can add the device
2. if the ip address is correct then it will upload the debug token otherwise it will prompt the message "missing device"

so closing this issue now.

[2015-01-16 12:40] #639 closed

[2015-01-16 12:40] hkopparru commented on #639
first comment correction: without the ip address you can't add the device

[2015-01-16 12:46] hkopparru commented on #641
in 3.0 plugin issue got resolved, where you can see the images multiple times in both icon and splash screen sections

[2015-01-16 12:46] #641 closed

[2015-01-16 13:04] hkopparru commented on #618
its still reproducing in 3.0 plugin. so here you need to select API level manually that your application supports.(same work around from the earlier comment)

[2015-01-16 15:23] phofman commented on #668
You can always take extra runtime logs, when visiting the 'View' -> 'Output' -> 'BlackBerry' pane. I can confirm, it fails also on my side, but seems to be related to underlying QNX-tools.

[code]

While metadata from debug-token is:

[code]

[2015-01-19 09:17] hkopparru commented on #640
latest 3.0 plugin UI got changed. so this problem is not able to reproduce here.we can install and uninstall simulators here

closing this issue now.

[2015-01-19 09:17] #640 closed

[2015-01-19 09:19] hkopparru commented on #642
not reproduced in 3.0 plugin.

closing this issue now.

[2015-01-19 09:19] #642 closed

[2015-01-19 09:20] hkopparru commented on #624
escape button is working fine to close the blackberry settings dialogs
closing this issue now.

[2015-01-19 09:20] #624 closed

[2015-01-19 09:59] pvallabhaneni opened #669 "[3.0.0001] Unable to debug the project in Windows 7 and Windows 8.1 using VS 2013"
Preq:
System OS: Win 7 64bit and Windows 8.1
VS version : VS2013
API level : 10.3.1.995

Steps to Reproduce:
1. Open "FallingBlocks_PB_MT_001" project and build the project.
2. Open a source file and add a break-point.
3. Click "F5" or select "Debug -> Start Debugging"

Actual Result: Error message is shown as "Unable to start program"

![debugging issue](https://cloud.githubusercontent.com/assets

[2015-01-19 11:40] phofman commented on #669
Could you please check it against the 3.3.1 version from my [fork](/phofman/vs-plugin/wiki)? It can be downloaded from [here](https://visualstudiogallery.msdn.microsoft.com/9a03ae7e-b786-41a7-a63b-dc0d9fe818d2).

[2015-01-19 12:07] hkopparru commented on #618
setting to triage

[2015-01-19 12:09] pvallabhaneni commented on #669
Issue is still reproducing after installing 3.3.1 version also.

[2015-01-19 12:09] hkopparru commented on #607
3.0 plugin UI got changed, where you can upload debug tokens for different devices.
issue is not reproducible
closing this issue now

[2015-01-19 12:22] phofman commented on #669
I am not able to reproduce it. I took the FallingBlocks from samples folder and I able to place a breakpoint, stop the app etc.

![fallingblocks_debugging](https://cloud.githubusercontent.com/assets/475630/5800336/8068214c-9fdd-11e4-8409-c16a43830dcf.png)

Sometimes instead of a valid code place debugger stops with a 'frame not found' window, but usually navigating from 'Threads' window works. Alt

[2015-01-19 13:08] hkopparru commented on #618
setting milestone to Backlog

[2015-01-20 13:37] hkopparru opened #670 "[3.0.0001] Unable to build the project or configure the project for simulator"
req:
System OS: Win 7 64bit and Windows 8.1
VS version : VS2013

Steps to Reproduce:
1. Open "FallingBlocks_PB_MT_001" project or some other sample projects and start the build solution

found below error in the output window

Project not selected to build the project

![image](https://cloud.githubusercontent.com/assets/5992379/5817959/33fc8014-a0d7-11e4-8fb5-458d563864f9.png)

Here we are not abl

[2015-01-20 13:49] phofman commented on #670
Yes, because the way you select simulator has changed.
You need to enter project settings and change the CPU Type.
For some application types you might also need to select proper Makefile Active Target.

Check attached image.

![simulator_selection](https://cloud.githubusercontent.com/assets/475630/5818142/2a05b928-a0b3-11e4-893e-73dd2e089627.jpg)

The problems solved here were:
- simulators doesn

[2015-01-20 13:56] dbrgss commented on #670
Thanks Pawel.

Hannumanth... if you can retest with the new method...

We will need to note the new process for documentation, which I have labeled.

[2015-01-20 13:57] hkopparru commented on #670
Yes its working fine after change the CPU Type to "simulator".

[2015-01-20 14:11] phofman commented on #670
My concern is that during own tests I noticed just several times that VS2013 (others don't) ignores changes to the CPU Type and even if simulator is selected (and persisted in project file), it gets compiled as device. Although I was unable to define a scenario to reproduce it.

Additionally I was doing the development on the same machine having lots of MSBuild.exe running in the background, so wh

[2015-01-20 14:16] hkopparru commented on #650
showing the same behavior in 3.0.0001 plugin VS2013

[2015-01-20 14:19] hkopparru commented on #643
tested in 3.0.0001 plugin, no issues.
closing this issue.

[2015-01-20 14:19] #643 closed

[2015-01-20 14:19] dbrgss commented on #669
So the sample applications that we are using were converted using the older tooling.  Therefore they have old project configurations for BlackBerry and BlackBerry Simulator.   I was wondering if these old settings might be having an adverse affect on the build.   When you do your testing do you remove these configurations and allow your code to re-add them?

[2015-01-20 14:56] hkopparru commented on #669
in configuration manager where i am able to delete and add BlackBerry platform successfully(many times tested)

But once I delete the BlackBerry Simulator platform then i am not able to add it again.

please see the below screenshots for before and after deletion of BlackBerry Simulator platform.

![image](https://cloud.githubusercontent.com/assets/5992379/5819281/8e73fa58-a0e2-11e4-838f-9e985cbeb